Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

Scope remote inference kafka improvements (#422)
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/cloud_track.py
  src/scope/server/frame_processor.py
  src/scope/server/kafka_publisher.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/schema.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

Add short sha tag for main docker builds
  .github/workflows/docker-build.yml
Due: none

Add short sha tag for main docker builds (#423)
  .github/workflows/docker-build.yml
Due: none

style: auto-format memflow causal_model.py with ruff
  src/scope/core/pipelines/memflow/modules/causal_model.py
Due: none

Fix memflow unflatten crash when sequence length is multiple of 128
  src/scope/core/pipelines/memflow/modules/causal_model.py
Due: none

Bump to v0.1.0
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Update README
  README.md
Due: none

Update feature links in README.md to point to new docs
  README.md
Due: none

[experiment]: input sources plugins
  src/scope/core/inputs/__init__.py
  src/scope/core/inputs/interface.py
  src/scope/core/inputs/registry.py
  src/scope/core/pipelines/registry.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  src/scope/server/frame_processor.py
Due: none

Release pipeline references before cleanup during switches
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
Due: none

feat: multilevel cleanup
  src/scope/core/pipelines/interface.py
Due: none

fix: cleanup
  src/scope/core/pipelines/interface.py
  src/scope/server/frame_processor.py
Due: none

Add pipeline cleanup and GPU memory logging
  src/scope/core/pipelines/interface.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
Due: none

fix: cleanup logic
  src/scope/core/pipelines/interface.py
Due: none

Simplify recording download
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
Due: none

Add logging for unexpected serverless crashes
  src/scope/cloud/fal_app.py
Due: none

Instant pipeline list reload on cloud connection
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/AccountTab.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/hooks/useCloudStatus.ts
  frontend/src/hooks/useCloudStatus.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Refactor app.py to use cloud_proxy decorator
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
Due: none

fix: address PR #388 review - device safety, dtype fix, clone optimization, move test fixtures
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  tests/fixtures/static_mask_half_white_half_black.mp4
  tests/fixtures/white_square_moving.mp4
Due: none

vace test placeholder paths
  src/scope/core/pipelines/longlive/test_vace.py
Due: none

Fix Windows install dep management
  app/build/win/installer.nsh
  app/src/services/pythonProcess.ts
  app/src/services/setup.ts
Due: none

Fix gray pipeline returning None due to missing return statement
  src/scope/server/pipeline_manager.py
Due: none

Fix installer venv management and plugin persistence
  app/build/win/installer.nsh
  app/src/services/setup.ts
Due: none

Added nvfp4 official support.
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/enums.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/quantization_utils.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/utils.py
  src/scope/core/pipelines/wan2_1/vace/mixin.py
Due: prettier, eslint

Added dependencies required for nvfp4 and audio for future proof.
  pyproject.toml
Due: none

Built nvfp4 detection via hardware info.
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/schema.py
Due: prettier, eslint

Linting.
  frontend/src/hooks/useWebRTC.ts
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Linting.
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/pages/StreamPage.tsx
  uv.lock
Due: prettier, eslint

Linting.
  src/scope/core/pipelines/utils.py
Due: none

feat: torch compile
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/modules/kv_cache_manager.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/blocks/set_transformer_blocks_local_attn_size.py
  src/scope/core/pipelines/wan2_1/blocks/setup_caches.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/modules/attention.py
  src/scope/core/pipelines/wan2_1/utils.py
Due: none

Add LoRA support in cloud relay mode
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/lib/api.ts
  frontend/src/lib/cloudAdapter.ts
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
Due: prettier, eslint

feat: NDI support & input sources abstraction
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useVideoSource.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/inputs/__init__.py
  src/scope/core/inputs/interface.py
  src/scope/core/inputs/ndi.py
  src/scope/core/inputs/spout.py
  src/scope/server/app.py
  src/scope/server/frame_processor.py
  src/scope/server/tracks.py
Due: prettier, eslint
