Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

cloud: Pass DAYDREAM_SCOPE_BUNDLED_PLUGINS_FILE to Scope subprocess
  src/scope/cloud/fal_app.py
Due: none

fix: guard against missing multi-track API in CloudRelay
  src/scope/server/cloud_relay.py
Due: none

Pre-install LTX-2 plugin at Docker build time instead of runtime
  Dockerfile.cloud
  src/scope/cloud/fal_app.py
Due: none

frontend: Hide delete button for bundled plugins
  frontend/src/components/settings/PluginsTab.tsx
  frontend/src/types/settings.ts
Due: prettier, eslint

frontend: Refresh plugin list on cloud connection change
  frontend/src/hooks/usePlugins.ts
Due: prettier, eslint

frontend: Pass bundled field through plugin mapping
  frontend/src/components/PluginsDialog.tsx
  frontend/src/lib/api.ts
Due: prettier, eslint

api: Add bundled field to PluginInfo response schema
  src/scope/server/schema.py
Due: none

plugins: Cache bundled plugin names to avoid repeated file reads
  src/scope/core/plugins/manager.py
Due: none

cloud: Pre-install ltx-2 plugin in cloud Docker image (#828)
  Dockerfile.cloud
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/settings/PluginsTab.tsx
  frontend/src/hooks/usePlugins.ts
  frontend/src/lib/api.ts
  frontend/src/types/settings.ts
  src/scope/cloud/fal_app.py
  src/scope/core/plugins/manager.py
  src/scope/core/plugins/plugins_config.py
  src/scope/server/schema.py
Due: prettier, eslint

chore: bump version to 0.2.1
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

fix: pipelines getting stucked in graph mode
  src/scope/server/pipeline_manager.py
Due: none

fix: Sync external parameter updates (OSC/REST/MCP) to graph mode UI
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/mcp_router.py
Due: prettier, eslint

fix: pipelines getting stucked in graph mode (#832)
  src/scope/server/pipeline_manager.py
Due: none

ci: Remove E2E tests from CI
  .github/workflows/docker-build.yml
Due: none

ci: Remove E2E tests from CI (#835)
  .github/workflows/docker-build.yml
Due: none

fix: Sync external parameter updates (OSC/REST/MCP) to graph mode UI (#833)
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/mcp_router.py
Due: prettier, eslint

Refactor: narrow FrameProcessor to frame routing, extract I/O and recording (#797)
  src/scope/server/cloud_relay.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/source_manager.py
Due: none

feat: add WebRTC multi-source/sink support with new track types
  src/scope/server/pipeline_manager.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

fix: keep sink/record queue refs in sync after output queue resize
  src/scope/server/graph_executor.py
  src/scope/server/pipeline_processor.py
Due: none

fix: address review issues in WebRTC multi-track support
  src/scope/server/pipeline_manager.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

feat: WebRTC support for multiple input and output tracks (#798)
  src/scope/server/graph_executor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

feat: add cloud multi-source/sink support and unified output handling
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
Due: none

feat: add usage dashboard link + handle configurable credit rates
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/lib/billing.ts
Due: prettier, eslint

fix: increase Livepeer runner startup timeout for cold fal.ai workers
  src/scope/cloud/livepeer_fal_app.py
Due: none

fix: handle missing prompts in TextConditioningBlock and LongLivePipeline
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/wan2_1/blocks/text_conditioning.py
Due: none

fix(pipeline_manager): raise clear error for unknown pipeline IDs on startup
  src/scope/server/pipeline_manager.py
Due: none

fix: check is_available() before using Spout/NDI/Syphon sinks and sources
  src/scope/server/sink_manager.py
  src/scope/server/source_manager.py
Due: none

feat: add fullscreen button to Sink node and clarify live output in onboarding
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/onboarding/InferenceModeStep.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
Due: prettier, eslint

Update WorkflowPickerStep.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
Due: prettier, eslint

Update InferenceModeStep.tsx
  frontend/src/components/onboarding/InferenceModeStep.tsx
Due: prettier, eslint

Update SinkNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
Due: prettier, eslint

ci: add PR guard for fal app companion updates
  .github/workflows/fal-app-change-guard.yml
Due: none

Run on the current PR
  .github/workflows/fal-app-change-guard.yml
Due: none

test: trigger fal app guard on PR
  src/scope/cloud/fal_app.py
Due: none

ci: remove temporary guard test changes
  .github/workflows/fal-app-change-guard.yml
  src/scope/cloud/fal_app.py
Due: none

ci: dismiss stale fal guard change requests
  .github/workflows/fal-app-change-guard.yml
Due: none

ci: remove preview testing commands from PR comment
  .github/workflows/docker-build.yml
Due: none

ci: restore livepeer preview run instructions
  .github/workflows/docker-build.yml
Due: none

Update title
  .github/workflows/docker-build.yml
Due: none

feat: add paywall credits system UI scaffolding
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PaywallModal.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/TransitionBanner.tsx
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/lib/billing.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/lib/deviceId.ts
Due: prettier, eslint
