Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Update ordering for Preprocessor in Settings
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
Due: prettier, eslint

Update vae type docs
  README.md
  docs/api/load.md
  docs/vae.md
Due: none

Fix slider input
  frontend/src/components/ui/slider-with-input.tsx
Due: prettier, eslint

Bump to v0.1.0-beta.3
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

feat: pingpong video mode
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/useVideoSource.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

preview
  frontend/src/components/LayoutControlPreview.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/VACEConditioningPreview.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  frontend/tmpclaude-7786-cwd
  plugins/scope-layout-control/src/scope_layout_control/preprocessor.py
  src/scope/server/frame_processor.py
  src/scope/server/webrtc.py
Due: prettier, eslint

flow first frame handling
  plugins/scope-optical-flow-tensorrt/src/scope_optical_flow_tensorrt/preprocessor.py
Due: none

Add controller input + controller-viz pipeline
  frontend/src/components/VideoOutput.tsx
  frontend/src/hooks/useControllerInput.ts
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/controllerTransport.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/controller.py
  src/scope/core/pipelines/controller_viz/__init__.py
  src/scope/core/pipelines/controller_viz/pipeline.py
  src/scope/core/pipelines/controller_viz/schema.py
  src/scope/core/pipelines/registry.py
  src/scope/server/pipeline_processor.py
Due: prettier, eslint

Make controller-viz proper built-in
  src/scope/core/pipelines/__init__.py
  src/scope/server/pipeline_manager.py
Due: none

point and flow demos
  src/scope/core/pipelines/longlive/demo_flow_control.py
  src/scope/core/pipelines/longlive/demo_point_control.py
Due: none

fix wasd
  frontend/src/components/LayoutControlPreview.tsx
  frontend/src/hooks/useLayoutControlStream.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/frame_processor.py
Due: prettier, eslint

Bump to Python 3.12.8
  .github/workflows/lint.yml
  .python-version
  pyproject.toml
  uv.lock
Due: none

Find cudnn package without importing torch to prevent file locking
  src/scope/core/patches/cudnn.py
Due: none

Bump to torch 2.9.1 + patch cudnn to fix Conv3D perf regression
  patches.pth
  pyproject.toml
  src/scope/core/patches/__init__.py
  src/scope/core/patches/_startup.py
  src/scope/core/patches/cudnn.py
  uv.lock
Due: none

Auto patch torch static cuda launcher
  src/scope/core/patches/_startup.py
  src/scope/core/patches/_utils.py
  src/scope/core/patches/cudnn.py
  src/scope/core/patches/static_cuda_launcher.py
Due: none

Restrict Python version to 3.10
  pyproject.toml
  uv.lock
Due: none

Lazy import torch to fix Windows DLL issue when using --force-reinstall for plugins
  src/scope/core/pipelines/enums.py
  src/scope/core/pipelines/utils.py
  src/scope/server/app.py
  src/scope/server/schema.py
Due: none

Add toggle for fit vs native res with default to fit
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

draft 1
  VACE_BLOG_OUTLINE.md
  VACE_BLOG_OUTLINE_v2.md
  VACE_BLOG_POST.md
Due: none

Update Dockerfile to include patches.pth
  Dockerfile
Due: none

Add support for non VACE conditioning images
  frontend/src/components/ImageManager.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/server/pipeline_processor.py
Due: prettier, eslint

Support mouse buttons for controller input
  frontend/src/hooks/useControllerInput.ts
  src/scope/core/pipelines/controller.py
  src/scope/core/pipelines/controller_viz/pipeline.py
Due: prettier, eslint

Add audio output into passthrough pipeline
  src/scope/core/pipelines/passthrough/pipeline.py
Due: none

feat: add API support for first-frame-last-frame (FFLF) extension mode
  src/scope/server/pipeline_processor.py
  src/scope/server/schema.py
Due: none

feat: add UI support for first-frame-last-frame (FFLF) extension mode
  frontend/src/components/ImageManager.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

feat: update vace docs
  docs/api/vace.md
  docs/vace.md
  src/scope/core/pipelines/wan2_1/vace/design.md
Due: none

Add Dynamic Parameter Rendering Signed-off-by: Rafal Leszko <rafal@livepeer.org>
  frontend/src/components/DynamicParameterControls.tsx
  frontend/src/components/dynamic-controls/DynamicControl.tsx
  frontend/src/components/dynamic-controls/NumberControl.tsx
  frontend/src/components/dynamic-controls/SelectControl.tsx
  frontend/src/components/dynamic-controls/SliderControl.tsx
  frontend/src/components/dynamic-controls/TextControl.tsx
  frontend/src/components/dynamic-controls/ToggleControl.tsx
  frontend/src/components/dynamic-controls/index.ts
  frontend/src/components/dynamic-controls/types.ts
  frontend/src/hooks/useDynamicParameters.ts
  frontend/src/lib/schemaInference.ts
Due: prettier, eslint

feat: add video scale toggle overlay on output video
  frontend/src/components/VideoOutput.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
