Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

fix: restore OSC SSE subscription and dmx_server global declaration
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
Due: prettier, eslint

fix: seed overflow, step list descending invariant, and tempo sync lock race
  src/scope/server/modulation.py
  src/scope/server/pipeline_processor.py
  src/scope/server/tempo_sync.py
Due: none

fix: guard mido import and fix scheduler quantize_mode race condition
  src/scope/server/parameter_scheduler.py
  src/scope/server/tempo_sources/midi_clock.py
Due: none

fix: make left sidebar sections scroll together as one unit
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: include Ableton Link in Electron app builds
  app/build/linux/after-install.sh
  app/build/win/installer.nsh
  app/src/services/setup.ts
Due: none

fix: include --extra link in uv run so aalink survives implicit sync
  app/src/services/pythonProcess.ts
Due: none

Tempo Sync Modulation - No Pipelines (#703)
  CLAUDE.md
  app/build/linux/after-install.sh
  app/build/win/installer.nsh
  app/src/services/pythonProcess.ts
  app/src/services/setup.ts
  docs/tempo-sync.md
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/settings/ModulationSection.tsx
  frontend/src/components/settings/TempoSyncSection.tsx
  frontend/src/hooks/useTempoSync.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  pyproject.toml
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/core/pipelines/wan2_1/blocks/noise_scale_controller.py
  src/scope/core/pipelines/wan2_1/blocks/set_timesteps.py
  src/scope/server/app.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/modulation.py
  src/scope/server/parameter_scheduler.py
  src/scope/server/pipeline_processor.py
  src/scope/server/schema.py
  src/scope/server/tempo_router.py
  src/scope/server/tempo_sources/__init__.py
  src/scope/server/tempo_sources/link.py
  src/scope/server/tempo_sources/midi_clock.py
  src/scope/server/tempo_sync.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/test_parameter_scheduler.py
  uv.lock
Due: prettier, eslint

chore: bump version to 0.1.8
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

fix: auto-retry cloud connection on transient failures
  src/scope/server/cloud_connection.py
Due: none

fix: show elapsed time during cloud cold start and increase retries
  src/scope/server/cloud_connection.py
Due: none

fix: add WebSocket heartbeat to prevent code=1006 disconnections
  src/scope/server/cloud_connection.py
Due: none

fixes & recording node
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/CustomEdge.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/RecordNode.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/recording.py
  src/scope/server/webrtc.py
Due: prettier, eslint

address async comments
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/connection/typeResolution.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/KnobsNode.tsx
  frontend/src/components/graph/nodes/MidiNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/SubgraphNode.tsx
  frontend/src/components/graph/nodes/TriggerNode.tsx
  frontend/src/components/graph/nodes/VaceNode.tsx
  frontend/src/components/graph/nodes/XYPadNode.tsx
  frontend/src/components/graph/ui/NodeHeader.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

fix(logging): recover gracefully when log file is deleted mid-session
  src/scope/server/app.py
  src/scope/server/logs_config.py
  tests/test_logs_config.py
Due: none

feat: support audio-only pipelines, decouple FrameProcessor from VideoProcessingTrack
  frontend/src/components/VideoOutput.tsx
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/registry.py
  src/scope/server/pipeline_processor.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: prettier, eslint

refactor: remove requires_audio_input and unregister test_tone pipeline
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/registry.py
Due: none

docs: clarify s16 packed interleave correctness in AudioProcessingTrack
  src/scope/server/tracks.py
  tests/test_audio_processing_track.py
Due: none

test: remove AudioProcessingTrack tests that only exercise numpy
  tests/test_audio_processing_track.py
Due: none

fix: address PR review issues in audio support
  src/scope/server/frame_processor.py
  src/scope/server/media_clock.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

unified workflow import
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/lib/workflowApi.ts
  frontend/src/lib/workflowSettings.ts
Due: prettier, eslint

refactor: remove MediaClock, defer A/V sync to follow-up PR
  src/scope/server/media_clock.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

fix: drain audio queue fully, cap buffer, and skip audio track for non-audio pipelines
  src/scope/core/pipelines/base_schema.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/test_audio_processing_track.py
Due: none

fixes after comments
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/RecordNode.tsx
  frontend/src/hooks/useVideoSource.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/graph_schema.py
Due: prettier, eslint

fix: replace FFT resampler with linear interp, guard None output_dict, use deque buffer
  src/scope/server/pipeline_processor.py
  src/scope/server/tracks.py
  tests/test_audio_processing_track.py
Due: none

refactor: move modality checks into PipelineRegistry, harden audio frame creation
  src/scope/core/pipelines/registry.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/test_audio_processing_track.py
Due: none

fix: correct misleading 'audio-only' log when video track is skipped
  src/scope/server/webrtc.py
Due: none

refactor: move AudioProcessingTrack into its own audio_track.py module
  src/scope/server/audio_track.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

fix: support audio-only sessions and add audio recording
  src/scope/server/recording.py
  src/scope/server/webrtc.py
  tests/test_audio_processing_track.py
Due: none

refactor: replace audio callback with queue to match video flow
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
Due: none

fixes
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/nodes/MathNode.tsx
  frontend/src/components/graph/nodes/SubgraphNode.tsx
  frontend/src/components/graph/utils/subgraphSerialization.ts
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

fix(vace): guard against sub-minimum spatial dims in VAE encoder (#713)
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
Due: none

filter tae from compile
  frontend/src/components/SettingsPanel.tsx
  frontend/src/lib/schemaSettings.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
Due: prettier, eslint

cache models
  src/scope/core/patches/_startup.py
  src/scope/core/pipelines/wan2_1/vae/wan.py
  src/scope/server/mcp_server.py
Due: none

disable in cloud mode
  frontend/src/components/SettingsPanel.tsx
  frontend/src/lib/schemaSettings.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/core/pipelines/wan2_1/vae/wan.py
Due: prettier, eslint

feat: add paywall credits system UI scaffolding
  .claude/launch.json
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PaywallModal.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/TransitionBanner.tsx
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/lib/billing.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/lib/deviceId.ts
Due: prettier, eslint

Fix to tempo sync modulation interfering with vace noise scale.
  src/scope/core/pipelines/defaults.py
  src/scope/server/modulation.py
Due: none

Fix to tempo sync modulation interfering with vace noise scale. (#716)
  src/scope/core/pipelines/defaults.py
  src/scope/server/modulation.py
Due: none

refactor: remove audio-only sleep from processor, deduplicate video extraction
  src/scope/server/pipeline_processor.py
Due: none

fix: add missing FrameProcessor import for type checking
  src/scope/server/tracks.py
Due: none
