Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

decouple backend
  src/scope/server/app.py
  tests/test_workflow_schema.py
Due: none

Inline _utils.py calls in resolve.py after deletion in base branch
  src/scope/core/workflows/resolve.py
Due: none

Add timeline, format migration, and min_scope_version to workflow schema
  src/scope/core/workflows/__init__.py
  src/scope/core/workflows/migrate.py
  src/scope/core/workflows/resolve.py
  src/scope/core/workflows/schema.py
  src/scope/server/app.py
  tests/test_workflow_migrate.py
  tests/test_workflow_schema.py
  tests/test_workflow_timeline.py
Due: none

test updates
  tests/test_workflow_schema.py
  tests/test_workflow_timeline.py
Due: none

Add workflow import with dependency resolution and apply API
  src/scope/server/app.py
Due: none

Deduplicate test helpers, fix settings validation test
  tests/test_workflow_schema.py
Due: none

wip
  .vscode/settings.json
  frontend/package-lock.json
  frontend/src/components/ExportDialog.tsx
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/components/WorkflowExportDialog.tsx
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/lib/workflowApi.ts
  frontend/src/lib/workflowSettings.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

decouple backend
  frontend/src/components/WorkflowExportDialog.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/lib/api.ts
  frontend/src/lib/workflowApi.ts
  frontend/src/lib/workflowSettings.ts
  frontend/src/types/index.ts
Due: prettier, eslint

Remove unused endpoint
  src/scope/server/app.py
  tests/test_workflow_schema.py
Due: none

Simplify workflow backend: frontend owns the schema
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/lib/workflowApi.ts
  src/scope/core/workflows/__init__.py
  src/scope/core/workflows/apply.py
  src/scope/core/workflows/migrate.py
  src/scope/core/workflows/resolve.py
  src/scope/core/workflows/schema.py
  src/scope/server/app.py
  tests/test_workflow_apply.py
  tests/test_workflow_migrate.py
  tests/test_workflow_resolve.py
  tests/test_workflow_schema.py
  tests/test_workflow_timeline.py
  tests/workflow_helpers.py
Due: prettier, eslint

Switch e2es to staging daydream and fal preview env
  .github/workflows/docker-build.yml
Due: none

resolve comments
  docs/osc.md
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/osc.py
  src/scope/server/schema.py
  uv.lock
Due: prettier, eslint

Switch e2es to staging daydream and fal preview env (#570)
  .github/workflows/docker-build.yml
Due: none

Remove redundant check
  frontend/src/components/OutputsPanel.tsx
Due: prettier, eslint

Revert settings name change
  frontend/src/components/SettingsPanel.tsx
Due: prettier, eslint

Extract different output sinks to single component
  frontend/src/components/OutputSinkToggle.tsx
  frontend/src/components/OutputsPanel.tsx
Due: prettier, eslint

Split outputs into dedicated right-side panel
  frontend/src/components/OutputsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Formatting
  frontend/src/components/SettingsPanel.tsx
Due: prettier, eslint

Move outputs panel below input controls
  frontend/src/components/OutputsPanel.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Refactor
  .vscode/settings.json
  src/scope/core/workflows/resolve.py
Due: none

Fetch fal key from daydream
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
Due: prettier, eslint

Revert package-lock.json peer annotations from npm 10.9
  frontend/package-lock.json
Due: prettier

Fix fal preview app deletion
  .github/workflows/fal-pr-deploy.yml
Due: none

Add .nvmrc to pin Node 22 LTS
  .nvmrc
Due: none

Revert "Add .nvmrc to pin Node 22 LTS"
  .nvmrc
Due: none

Simplify resolve.py: extract helpers and remove dead code
  src/scope/core/workflows/__init__.py
  src/scope/core/workflows/resolve.py
  tests/test_workflow_resolve.py
  tests/workflow_helpers.py
Due: none

Clean up workflow tests: inline helpers, remove dead code
  tests/test_workflow_resolve.py
  tests/workflow_helpers.py
Due: none

Frontend refactor + fix timeline import
  frontend/src/lib/workflowSettings.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Refactor Frontend code
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/workflowApi.ts
Due: prettier, eslint

fix: use CDN upload for large assets to avoid WebSocket timeout (#550)
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  src/scope/cloud/fal_app.py
  src/scope/core/pipelines/wan2_1/lora/strategies/peft_lora.py
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
Due: prettier, eslint

Outputs UI position (#565)
  frontend/src/components/OutputSinkToggle.tsx
  frontend/src/components/OutputsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Fix tests
  tests/test_workflow_resolve.py
Due: none

Refactor frontend
  frontend/src/lib/workflowSettings.ts
Due: prettier, eslint

Simplify workflowSettings.ts: inline prompt state, deduplicate pipelines
  frontend/src/lib/workflowSettings.ts
Due: prettier, eslint

feat: trt benchmark
  benchmark_test.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/modules/model.py
Due: none

fix: reqs
  benchmark_test.py
  pyproject.toml
Due: none

fix: reqs
  pyproject.toml
Due: none

fix: benchmark
  benchmark_test.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
