Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

Add logging for unexpected serverless crashes
  src/scope/cloud/fal_app.py
Due: none

Avoid sending local image paths for cloud mode
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MediaPicker.tsx
  src/scope/cloud/fal_app.py
Due: prettier, eslint

address PR review: rename Plugin->Pipeline and simplify param handling
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/frame_processor.py
Due: prettier, eslint

Add user_id field to pipeline kafka events
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: none

remove param copy
  src/scope/server/frame_processor.py
Due: none

Add runtime kernel validation for SageAttention
  src/scope/core/pipelines/wan2_1/modules/sage.py
Due: none

address comments
  frontend/src/components/InputAndControlsPanel.tsx
  src/scope/core/frames.py
  src/scope/server/app.py
Due: prettier, eslint

keep static image preview
  frontend/src/components/InputAndControlsPanel.tsx
Due: prettier, eslint

fix: clear Electron HTTP cache on startup to prevent stale frontend
  app/src/main.ts
Due: none

cleanup no breaks only tensors
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/test.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/setup_caches.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/utils.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  test.py
Due: none

Kafka events to cover more error cases
  src/scope/cloud/fal_app.py
  src/scope/server/cloud_connection.py
  src/scope/server/frame_processor.py
  src/scope/server/kafka_publisher.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/webrtc.py
Due: none

Rename files to direct cloud
  frontend/src/App.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useCloudStatus.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/directCloudAdapter.ts
  frontend/src/lib/directCloudContext.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

ci: add automated version bump and tag workflows
  .github/workflows/tag-on-merge.yml
  .github/workflows/version-bump.yml
Due: none

fix(ci): skip postinstall script when updating app lock file
  .github/workflows/version-bump.yml
Due: none

chore: bump version to 0.1.2
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

profiling, torch compile, fp8 attemps
  src/scope/core/pipelines/longlive/benchmark_vace.py
  src/scope/core/pipelines/longlive/profile_inpainting.py
  src/scope/core/pipelines/longlive/profile_torch.py
  src/scope/core/pipelines/longlive/profile_vace_overhead.py
  vace_optimization_investigation.md
  vace_torch_compile_report.md
Due: none

feat: replace flex_attention with flash_attn in VACE blocks
  src/scope/core/pipelines/wan2_1/vace/mixin.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  vace_optimization_investigation.md
Due: none

fp8 ruled out
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_sdpa_backend.py
  vace_optimization_investigation.md
Due: none

fused AdaLN Triton kernels: implemented, benchmarked, disabled
  src/scope/core/pipelines/longlive/kernels/__init__.py
  src/scope/core/pipelines/longlive/kernels/fused_adaln.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
Due: none

docs: update release process to reflect automated workflows
  docs/contributing.md
Due: none

add compile, doesnt work, deadend
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/wan2_1/blocks/setup_caches.py
  test.py
Due: none

Add download progress toast and block downloads until cloud connects
  frontend/src/components/LoRAManager.tsx
  src/scope/server/app.py
Due: prettier, eslint

docs: NDI input
  docs/ndi.md
Due: none

address comments
  docs/ndi.md
Due: none

docs: NDI input (#456)
  docs/ndi.md
Due: none

deadend
  src/scope/core/pipelines/longlive/modules/causal_model.py
Due: none

More direct cloud fixes
  frontend/src/App.tsx
  frontend/src/components/ImageManager.tsx
  frontend/src/components/MediaPicker.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useCloudStatus.tsx
  frontend/src/lib/directCloudAdapter.ts
  frontend/src/lib/directCloudContext.tsx
Due: prettier, eslint

More direct cloud fixes
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/GeneralTab.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/lib/directCloudAdapter.ts
Due: prettier, eslint

Add Electron App for Mac build
  .github/workflows/build-electron.yml
  app/build/mac/notarize.js
  app/build/update-latest-yml.js
  app/electron-builder.yml
  app/package.json
  app/src/main.ts
  app/src/services/electronApp.ts
Due: none

fix: clear stale pipeline error statuses when loading new pipelines
  src/scope/server/pipeline_manager.py
Due: none

Add user_id field to pipeline kafka events (#449)
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/frame_processor.py
  src/scope/server/kafka_publisher.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/schema.py
  src/scope/server/webrtc.py
Due: none

Better error reporting for websocket failures
  src/scope/server/cloud_connection.py
Due: none
