Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Show connection ID
  frontend/.gitignore
  frontend/src/components/settings/DaydreamAccountSection.tsx
  src/scope/cloud/fal_app.py
Due: prettier, eslint

fix: prevent cloud connection from resetting inputMode
  frontend/src/hooks/useStreamState.ts
Due: prettier, eslint

Drop async for input source API routes
  src/scope/server/app.py
Due: none

Better error reporting for websocket failures
  src/scope/server/cloud_connection.py
Due: none

rm longliveloadparams
  tests/test_generate_endpoint.py
Due: none

Add file-based transfer for generate endpoint
  src/scope/server/app.py
  src/scope/server/generate.py
  src/scope/server/recording.py
  src/scope/server/schema.py
Due: none

move scripts
  scripts/test_generate_endpoint.py
Due: none

feat: generate endpoint with SSE streaming
  src/scope/server/app.py
  src/scope/server/generate.py
  src/scope/server/schema.py
  tests/test_generate_endpoint.py
Due: none

remove edge case padding
  src/scope/server/generate.py
Due: none

chore: bump version to 0.1.3
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

feat: ndi output support & output sink
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/inputs/ndi.py
  src/scope/core/ndi/__init__.py
  src/scope/core/ndi/lib.py
  src/scope/core/outputs/__init__.py
  src/scope/core/outputs/ndi.py
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/frame_processor.py
  src/scope/server/schema.py
Due: prettier, eslint

mjpeg live preview for ndi
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/lib/api.ts
  src/scope/server/app.py
  src/scope/server/frame_processor.py
Due: prettier, eslint

remove legacy spout sender & address review comments
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/types/index.ts
  src/scope/server/app.py
  src/scope/server/frame_processor.py
  src/scope/server/schema.py
Due: prettier, eslint

add noise controller, bias, use vace input, interpolation method
  src/scope/server/generate.py
  src/scope/server/schema.py
Due: none

cancellation
  src/scope/server/app.py
  src/scope/server/generate.py
Due: none

output sink: fix left-over spoutSender label on windows
  frontend/src/components/SettingsPanel.tsx
Due: prettier, eslint

temp file cleanup
  src/scope/server/generate.py
  src/scope/server/recording.py
Due: none

Add NDI feature to README
  README.md
Due: none

Fix LoRA docs: cloud paths, wget tip, trigger keyword warning
  docs/lora.md
Due: none

address comments
  src/scope/server/app.py
  src/scope/server/frame_processor.py
Due: none

DAG PoC
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/server/dag_executor.py
  src/scope/server/dag_schema.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
  tests/test_dag.py
Due: none

DAG PoC
  src/scope/core/pipelines/dag.py
  src/scope/core/pipelines/interface.py
  src/scope/server/dag_executor.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
Due: none

2fps ndi live preview
  frontend/src/lib/api.ts
  src/scope/server/app.py
Due: prettier, eslint

format app.py
  src/scope/server/app.py
Due: none

add show live preview toggle to frontend
  frontend/src/components/InputAndControlsPanel.tsx
Due: prettier, eslint

feat: ndi output support & ndi live preview (#457)
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/inputs/ndi.py
  src/scope/core/ndi/__init__.py
  src/scope/core/ndi/lib.py
  src/scope/core/outputs/__init__.py
  src/scope/core/outputs/ndi.py
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/frame_processor.py
  src/scope/server/schema.py
Due: prettier, eslint

Rebrand to LivePersona and update Docker workflow
  .github/workflows/docker-build.yml
  frontend/index.html
  frontend/src/components/Header.tsx
Due: prettier, eslint

Add fal deploy github action
  .github/workflows/fal-deploy.yml
  src/scope/cloud/fal_app.py
Due: none

Improve DAG and add sample input.json
  input.json
  src/scope/server/app.py
  src/scope/server/frame_processor.py
Due: none

Add fal deploy github action (#467)
  .github/workflows/fal-deploy.yml
  src/scope/cloud/fal_app.py
Due: none

Fal deploy action needs to depend on docker build
  .github/workflows/fal-deploy.yml
Due: none

test github workflow
  .github/workflows/fal-deploy.yml
Due: none

Fix
  input-passthrough-rife.json
  input.json
  src/scope/server/pipeline_processor.py
Due: none

Clear selected lora on cloud connection state change
  frontend/src/components/LoRAManager.tsx
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/models_config.py
Due: prettier, eslint

Add DAG API and UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/dag/DagEditor.tsx
  frontend/src/components/dag/DagEditorDialog.tsx
  frontend/src/components/dag/PipelineNode.tsx
  frontend/src/components/dag/SinkNode.tsx
  frontend/src/components/dag/SourceNode.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/dagUtils.ts
  src/scope/server/app.py
  src/scope/server/dag_schema.py
  src/scope/server/dag_state.py
  src/scope/server/frame_processor.py
Due: prettier, eslint

Change dropping processed frame log to debug
  src/scope/server/pipeline_processor.py
Due: none

Improve DAG UI
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/dag/DagEditor.tsx
  frontend/src/components/dag/PipelineNode.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/lib/dagUtils.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/server/app.py
  src/scope/server/dag_executor.py
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
