Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

fix(billing): address remaining review bugs
  frontend/src/components/PaywallModal.tsx
  frontend/src/contexts/BillingContext.tsx
Due: prettier, eslint

Add YouTube input source
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useVideoSource.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/core/inputs/__init__.py
  src/scope/core/inputs/interface.py
  src/scope/core/inputs/youtube.py
  src/scope/server/app.py
  src/scope/server/graph_schema.py
  src/scope/server/source_manager.py
  uv.lock
Due: prettier, eslint

refactor: split post-session survey into Sean Ellis + NPS with proper gating
  frontend/src/components/SurveyModal.tsx
  frontend/src/lib/surveyEligibility.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

style(survey): on-brand aurora + unified gradient hover palette
  frontend/src/components/SurveyModal.tsx
Due: prettier, eslint

Collapse survey telemetry to a single minimal event
  frontend/src/components/SurveyModal.tsx
Due: prettier, eslint

Add GPU selection to cloud connect UI
  frontend/src/components/settings/CloudGpuSelector.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/lib/cloudApi.ts
  frontend/src/lib/cloudGpu.ts
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/schema.py
Due: prettier, eslint

Fix Sink node fullscreen getting stuck on macOS
  frontend/src/components/graph/nodes/SinkNode.tsx
Due: prettier, eslint

Suppress WebRTC track for graph-only server-side sources
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Add flip option to Syphon inputs.
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/inputs/syphon.py
  src/scope/server/app.py
  src/scope/server/graph_schema.py
  src/scope/server/source_manager.py
  src/scope/server/syphon/receiver.py
Due: prettier, eslint

Fix Syphon reloads in workflow mode
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Livepeer mode default (#951)
  src/scope/server/livepeer.py
Due: none

remove dead code
  frontend/src/components/Header.tsx
  frontend/src/components/PaywallModal.tsx
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/contexts/BillingContext.tsx
Due: prettier, eslint

feat: cloud credits (#954)
  frontend/public/icon-white.svg
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PaywallModal.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/onboarding/InferenceModeStep.tsx
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/RedeemCodeSection.tsx
  frontend/src/components/ui/play-overlay.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/lib/billing.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/lib/deviceId.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Reuse graphHasOnlyServerSideSources helper for browser-stream check
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Fix Syphon reloads in workflow mode (#960)
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Fix Sink node fullscreen getting stuck on macOS (#958)
  frontend/src/components/graph/nodes/SinkNode.tsx
Due: prettier, eslint

feat: ui: graph mode redesign
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/BlueprintBrowserModal.tsx
  frontend/src/components/graph/ContextMenu.tsx
  frontend/src/components/graph/CustomEdge.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/PrimitiveNode.tsx
  frontend/src/components/graph/nodes/RerouteNode.tsx
  frontend/src/components/graph/nodes/SchedulerNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/NodeHeader.tsx
  frontend/src/components/graph/ui/NodePillSearchableSelect.tsx
  frontend/src/components/graph/ui/NodePillTextarea.tsx
  frontend/src/components/graph/ui/NodePillToggle.tsx
  frontend/src/components/graph/ui/tokens.ts
  frontend/src/index.css
Due: prettier, eslint

remove border
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/tokens.ts
Due: prettier, eslint

prettier
  frontend/src/components/graph/nodes/PrimitiveNode.tsx
  frontend/src/components/graph/nodes/SchedulerNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
Due: prettier, eslint

fix build
  frontend/src/components/graph/GraphEditor.tsx
Due: prettier, eslint

smaller connectors
  frontend/src/index.css
Due: prettier

better params
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/ui/tokens.ts
Due: prettier, eslint

better resize, better selected, better margins
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/tokens.ts
  frontend/src/index.css
Due: prettier, eslint

feat: ui: visual redesign of graph mode (#886)
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/BlueprintBrowserModal.tsx
  frontend/src/components/graph/ContextMenu.tsx
  frontend/src/components/graph/CustomEdge.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/PrimitiveNode.tsx
  frontend/src/components/graph/nodes/RerouteNode.tsx
  frontend/src/components/graph/nodes/SchedulerNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/NodeHeader.tsx
  frontend/src/components/graph/ui/NodePillSearchableSelect.tsx
  frontend/src/components/graph/ui/NodePillTextarea.tsx
  frontend/src/components/graph/ui/NodePillToggle.tsx
  frontend/src/components/graph/ui/tokens.ts
  frontend/src/index.css
Due: prettier, eslint

Add flip option to Syphon inputs. (#959)
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/inputs/syphon.py
  src/scope/server/app.py
  src/scope/server/graph_schema.py
  src/scope/server/source_manager.py
  src/scope/server/syphon/receiver.py
Due: prettier, eslint

fix: ui: brighter background grid
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/index.css
Due: prettier, eslint

Update cloudGpu.ts
  frontend/src/lib/cloudGpu.ts
Due: prettier, eslint

fix: ui: brighter background grid (#961)
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/index.css
Due: prettier, eslint

feat: add Kafka event publishing to livepeer fal wrapper
  src/scope/cloud/livepeer_fal_app.py
Due: none

chore: strip smoke-test and [KAFKA-DEBUG] prints
  src/scope/cloud/livepeer_fal_app.py
Due: none

Extract manifest_id / user_id from websocket headers
  src/scope/cloud/livepeer_fal_app.py
Due: none

feat: add end-to-end cloud-connect test harness and skill
  .agents/skills/testing-livepeer-fal-deploy/SKILL.md
  .env.example
  run-app.sh
  test-cloud-connect.sh
Due: none

Fix Cloud LTX-2 bundled
  src/scope/server/app.py
Due: none

docs: fix local-cloud dev instructions
  CLAUDE.md
  src/scope/server/mcp_server.py
Due: none

docs: fix local-cloud dev instructions (#965)
  CLAUDE.md
  src/scope/server/mcp_server.py
Due: none

fix: stop active pipeline workers before unload to free VRAM
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/pipeline_manager.py
Due: none

feat: accept pipeline parameters in /api/v1/session/start
  src/scope/server/mcp_router.py
Due: none

feat: accept pipeline parameters in /api/v1/session/start (#967)
  src/scope/server/mcp_router.py
Due: none

Pin bundled LTX-2 plugin to 129e7b3e
  Dockerfile.cloud
Due: none

Revert "Fix Cloud LTX-2 bundled"
  src/scope/server/app.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
