Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

fix: Unify cloud connect and surface connection errors
  frontend/src/components/onboarding/CloudAuthStep.tsx
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/lib/cloudApi.ts
  frontend/src/lib/onboardingStorage.ts
Due: prettier, eslint

docs: add guide for using web apps as video input sources
  docs/web-source.md
Due: none

fix: update remaining 'Pipeline' fallback strings to 'Model' in PipelineNode
  frontend/src/components/graph/nodes/PipelineNode.tsx
Due: prettier, eslint

fix: rename Pipeline→Model in AddNodeModal catalog entry
  frontend/src/components/graph/AddNodeModal.tsx
Due: prettier, eslint

fix: address remaining pipeline→model terminology review comments
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/SettingsPanel.tsx
Due: prettier, eslint

fix: address all remaining pipeline→model/plugin→node review comments
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/graph/GraphWorkflowImportDialog.tsx
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/components/settings/DmxTab.tsx
  frontend/src/components/settings/ModulationSection.tsx
  frontend/src/components/settings/OscTab.tsx
  frontend/src/components/settings/TempoSyncSection.tsx
  frontend/src/data/blueprints/knobs-panel.json
  frontend/src/data/blueprints/lfo-range-oscillator.json
  frontend/src/hooks/usePipeline.ts
Due: prettier, eslint

feat: wire LTX i2v_image parameter to Reference Image UI
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

feat: add web_app input source type using Playwright headless browser
  pyproject.toml
  src/scope/core/inputs/__init__.py
  src/scope/core/inputs/web_app.py
  src/scope/server/source_manager.py
Due: none

feat: add post-session Sean Ellis Score and NPS survey modal
  frontend/src/components/SurveyModal.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: initialize prevIsStreamingRef from current isStreaming state
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: add no-GPU explanation card in WorkflowPickerStep
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
Due: prettier, eslint

feat: expand Guided tour to 5 steps with new data-tour anchors
  frontend/src/components/Header.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/onboarding/tourSteps.ts
Due: prettier, eslint

feat: expand guided tour to 5 contextual steps
  frontend/src/components/Header.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/onboarding/WorkspaceTour.tsx
  frontend/src/components/onboarding/tourSteps.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: universal OnboardingStyleStep for all users
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/OnboardingStyleStep.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/lib/onboardingStorage.ts
Due: prettier, eslint

fix: Unify cloud connect and surface connection errors (#873)
  frontend/src/components/onboarding/CloudAuthStep.tsx
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/lib/cloudApi.ts
  frontend/src/lib/onboardingStorage.ts
Due: prettier, eslint

feat: post-first-output telemetry banner replacing blocking modal
  frontend/src/components/TelemetryBanner.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: add WelcomeSplashStep with welcome phase in onboarding flow
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/WelcomeSplashStep.tsx
  frontend/src/contexts/OnboardingContext.tsx
Due: prettier, eslint

feat: expand guided tour to 5 steps with new data-tour anchors
  frontend/src/components/Header.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/onboarding/tourSteps.ts
Due: prettier, eslint

feat: unify tour steps — SIMPLE_TOUR_STEPS now uses same 5 steps as TEACHING_TOUR_STEPS
  frontend/src/components/onboarding/tourSteps.ts
Due: prettier, eslint

fix: address CTO review on web_app input source
  pyproject.toml
  src/scope/core/inputs/web_app.py
  src/scope/server/source_manager.py
Due: none

fix: reduce false positives in backend health monitoring
  frontend/src/hooks/useBackendHealth.tsx
Due: prettier, eslint

Update DaydreamAccountSection.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
Due: prettier, eslint

Update DmxTab.tsx
  frontend/src/components/settings/DmxTab.tsx
Due: prettier, eslint

Update OscTab.tsx
  frontend/src/components/settings/OscTab.tsx
Due: prettier, eslint

Audio node for graph mode, better handling of params.
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/connection/useConnectionLogic.ts
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodeColors.ts
  frontend/src/components/graph/nodes/AudioNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/ui/NodePill.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/components/graph/utils/typeResolution.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Linting.
  frontend/src/components/AudioManager.tsx
  frontend/src/components/MediaPicker.tsx
  frontend/src/components/graph/utils/getValueFromNode.ts
Due: prettier, eslint

fix: rename pipeline node ID when on pipeline changes (#866)
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  src/scope/server/frame_processor.py
Due: prettier, eslint

fix: resolve cloud source-track index by node ID, not browser receive order
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/webrtc.py
Due: none

fix: route browser camera frames to correct cloud input track in mixed-source graphs (#885)
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/webrtc.py
Due: none

Audio-In (#803)
  frontend/src/components/AudioManager.tsx
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MediaPicker.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/connection/useConnectionLogic.ts
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodeColors.ts
  frontend/src/components/graph/nodes/AudioNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/ui/NodePill.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/components/graph/utils/typeResolution.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/lib/mediaUtils.ts
  frontend/src/lib/schemaSettings.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/file_utils.py
Due: prettier, eslint

Fix NDI Input for Perform Mode
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix(frontend): map hardware input (NDI/Spout/Syphon) onto perform-mode graph source node (#884)
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix(frontend): auto-load sample video on graph source nodes
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix(frontend): auto-load sample video on graph source nodes (#887)
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix(frontend): auto-load sample video on workflow-loaded source nodes
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
Due: prettier, eslint

fix(frontend): auto-load sample video on workflow-loaded source nodes (#888)
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
Due: prettier, eslint

chore: bump version to 0.2.2
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Add application layer ping/pong keepalives.
  src/scope/cloud/livepeer_app.py
Due: none

Update SDK to latest, switch to Scope endpoint
  src/scope/server/livepeer_client.py
  uv.lock
Due: none

Add multi-track support to Livepeer mode
  src/scope/cloud/livepeer_app.py
  src/scope/server/cloud_track.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/mcp_router.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
