Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Handle model download errors
  frontend/src/components/DownloadDialog.tsx
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/server/app.py
  src/scope/server/download_progress_manager.py
Due: prettier, eslint

Modifications to memory.
  src/scope/core/pipelines/nvfp4.py
Due: none

Dedup plugins if there is a stale install when listing
  src/scope/core/plugins/manager.py
  tests/test_plugin_manager.py
Due: none

Fix to layers.
  src/scope/core/pipelines/nvfp4.py
Due: none

Testing weight streaming concept.
  src/scope/core/pipelines/ltx2/pipeline.py
  src/scope/core/pipelines/ltx2/schema.py
  src/scope/core/pipelines/weight_streaming.py
Due: none

remove todo, this is done
  src/scope/server/app.py
Due: none

GPU RAM optimizations via quantize offloading and order of ops.
  src/scope/core/pipelines/ltx2/modules/ltx_pipelines/utils/model_ledger.py
  src/scope/core/pipelines/ltx2/pipeline.py
  src/scope/core/pipelines/ltx2/schema.py
  src/scope/core/pipelines/nvfp4.py
Due: none

Added low_vram_init param.
  src/scope/core/pipelines/ltx2/modules/ltx_pipelines/utils/model_ledger.py
  src/scope/core/pipelines/ltx2/pipeline.py
  src/scope/core/pipelines/ltx2/schema.py
Due: none

Add HF auth via UI/API
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/ApiKeysTab.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/credentials.py
  src/scope/server/download_models.py
  src/scope/server/schema.py
  src/scope/server/webrtc.py
Due: prettier, eslint

Toggle recording from UI
  frontend/src/components/ExportDialog.tsx
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  frontend/tailwind.config.js
  src/scope/server/recording.py
  src/scope/server/schema.py
  src/scope/server/webrtc.py
Due: prettier, eslint

Update README RECORDING_ENABLED default and description
  README.md
Due: none

Update to prod daydream url
  frontend/src/lib/auth.ts
  src/scope/cloud/fal_app.py
Due: prettier, eslint

Fix after merge
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/main.tsx
  frontend/src/types/index.ts
  src/scope/server/schema.py
Due: prettier, eslint

Implement auth UI to match latest wireframe design
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/AccountTab.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/GeneralTab.tsx
Due: prettier, eslint

Attempt blank playback issue fix
  src/scope/server/cloud_track.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

Fix desktop auth flow
  app/src/main.ts
  app/src/preload.ts
  app/src/services/electronApp.ts
  app/src/types/ipc.ts
  frontend/src/App.tsx
  frontend/src/lib/auth.ts
Due: prettier, eslint

Update app id for testing
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
Due: none

Auth flow display name + layout + redirect to Account tab
  frontend/src/App.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/lib/auth.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Add cleanup() method to Pipeline base class
  src/scope/core/pipelines/interface.py
Due: none

Call pipeline cleanup on unload and add GPU memory logging
  src/scope/server/pipeline_manager.py
Due: none

Clear pinned buffer cache on frame processor stop
  src/scope/server/frame_processor.py
Due: none

Release pipeline reference on processor stop
  src/scope/server/pipeline_processor.py
Due: none

feat: follow symlinks when listing directory contents
  src/scope/server/app.py
  src/scope/server/file_utils.py
Due: none

Connect to cloud in background
  frontend/src/components/Header.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/schema.py
Due: prettier, eslint

fix
  frontend/package-lock.json
  src/scope/cloud/__init__.py
  src/scope/cloud/fal_app.py
  src/scope/cloud/kafka_publisher.py
  src/scope/server/app.py
  src/scope/server/event_bus.py
  src/scope/server/frame_processor.py
  src/scope/server/kafka_publisher.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/webrtc.py
Due: prettier

fix: timeline tick jumping during playback
  frontend/src/components/PromptTimeline.tsx
Due: prettier, eslint

fix: timeline tick jumping during playback (#402)
  frontend/src/components/PromptTimeline.tsx
Due: prettier, eslint

Add pipeline cleanup and GPU memory logging
  src/scope/core/pipelines/interface.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
Due: none

Release pipeline references before cleanup during switches
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
Due: none

fix: cleanup
  src/scope/core/pipelines/interface.py
  src/scope/server/frame_processor.py
Due: none

Fix websocket timeout issue
  src/scope/cloud/fal_app.py
Due: none

Point at prod fal env
  src/scope/server/app.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
