Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

fal: Set request timeout to 120 minutes.
  src/scope/cloud/fal_app.py
Due: none

fix: remove single-record-node restriction to allow multiple recorders
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
Due: prettier, eslint

fix(pipeline_processor): handle 5D batch tensors in graph stream queues
  src/scope/core/pipelines/wan2_1/blocks/preprocess_video.py
  src/scope/server/pipeline_processor.py
Due: none

fix(yolo pipeline): handle 5D batch tensors in graph stream queues (#742)
  src/scope/core/pipelines/wan2_1/blocks/preprocess_video.py
  src/scope/server/pipeline_processor.py
Due: none

fix: per-thread pinned buffers, hardware sink queues, and WebRTC FPS pacing
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/tracks.py
Due: none

fix: show FPS in Perform Mode and hide metrics in Workflow Builder
  frontend/src/components/StatusBar.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Local cloud
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_ws_endpoint.py
  uv.lock
Due: none

fix(cloud_connection): retry on timeout waiting for ready from cloud runner
  src/scope/server/cloud_connection.py
Due: none

feat: redesign graph mode toolbar
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/ui/tokens.ts
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix(pipeline_processor): detect fatal CUDA NVLink hardware errors and restart
  src/scope/server/pipeline_processor.py
  src/scope/server/tracks.py
Due: none

fix(torch-compile): handle inductor SubprocException with eager fallback
  src/scope/core/pipelines/krea_realtime_video/modules/causal_model.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/streamdiffusionv2/modules/causal_model.py
  src/scope/core/pipelines/utils.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
Due: none

Livepeer Cloud Mode
  .agents/skills/fal-runner/SKILL.md
  .agents/skills/fal-runner/reference.md
  .github/workflows/docker-build.yml
  .github/workflows/fal-deploy.yml
  .github/workflows/fal-pr-deploy.yml
  docs/architecture/livepeer.md
  docs/livepeer.md
  frontend/package-lock.json
  pyproject.toml
  src/scope/cloud/livepeer_app.py
  src/scope/cloud/livepeer_fal_app.py
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_track.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/scope_cloud_types.py
  src/scope/server/webrtc.py
  uv.lock
Due: prettier

feat: redesign graph mode toolbar (#748)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/ui/tokens.ts
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: graphs: audio output - tempo node - prompt blending
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphEval.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/PromptBlendNode.tsx
  frontend/src/components/graph/nodes/PromptListNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/nodes/TempoNode.tsx
  frontend/src/components/graph/nodes/TupleNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/components/graph/utils/typeResolution.ts
  frontend/src/data/blueprints/bouncing-prompt-weights.json
  frontend/src/data/blueprints/index.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/tempo_sources/midi_clock.py
Due: prettier, eslint

eval control nodes in subgraphs
  frontend/src/components/graph/hooks/subgraph/useSubgraphEval.ts
Due: prettier, eslint

fix: remove unused isPlaying/onPlayPauseToggle from GraphToolbar
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
Due: prettier, eslint

refactor: remove dead onboarding code and simplify
  app/src/components/FogOfWarBackground.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
  frontend/src/components/settings/GeneralTab.tsx
  frontend/src/contexts/OnboardingContext.tsx
  src/scope/server/app.py
Due: prettier, eslint

style: fix Prettier formatting in 10 frontend files
  frontend/src/components/Header.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/FogOfWarBackground.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/TourPopover.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/PluginsTab.tsx
  frontend/src/components/settings/WorkflowsTab.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: default workflow picker to teaching style when no style is set
  frontend/src/components/onboarding/starterWorkflows.ts
Due: prettier, eslint

refactor: deduplicate FogOfWarBackground between app and frontend
  app/src/components/FogOfWarBackground.tsx
  app/src/components/ServerLoading.tsx
  app/tsconfig.json
  app/vite.renderer.config.ts
  frontend/src/components/onboarding/FogOfWarBackground.tsx
Due: prettier, eslint

Add onboarding flow, workflow improvements, and plugin UI updates
  app/index.html
  app/src/components/ErrorBoundary.tsx
  app/src/components/FogOfWarBackground.tsx
  app/src/components/ServerLoading.tsx
  app/src/components/Setup.tsx
  app/src/index.css
  app/src/renderer.tsx
  e2e/tests/cloud-streaming.spec.ts
  frontend/public/assets/onboarding/dissolving-cat.webp
  frontend/public/assets/onboarding/kubakub-butterfly.webp
  frontend/public/assets/onboarding/pixel-art.png
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/onboarding/CloudAuthStep.tsx
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/FogOfWarBackground.tsx
  frontend/src/components/onboarding/InferenceModeStep.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/TourPopover.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
  frontend/src/components/onboarding/WorkspaceTour.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
  frontend/src/components/onboarding/tourSteps.ts
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/components/settings/GeneralTab.tsx
  frontend/src/components/settings/PluginsTab.tsx
  frontend/src/components/settings/WorkflowsTab.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/index.css
  frontend/src/lib/analytics.ts
  frontend/src/lib/onboardingStorage.ts
  frontend/src/pages/StreamPage.tsx
  frontend/tailwind.config.js
  src/scope/server/app.py
Due: prettier, eslint

feat: onboarding survey screens, simple workflows, post-onboarding tooltips
  frontend/public/assets/onboarding/mythical-creature.png
  frontend/src/components/Header.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/InferenceModeStep.tsx
  frontend/src/components/onboarding/TourPopover.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
  frontend/src/components/onboarding/WorkspaceTour.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
  frontend/src/components/onboarding/tourSteps.ts
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/lib/onboardingStorage.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
Due: prettier, eslint

fix: use configurable base dir for onboarding file path
  src/scope/core/config.py
  src/scope/server/app.py
Due: none

fix: resolve onboarding review issues
  frontend/src/components/onboarding/CloudAuthStep.tsx
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/lib/onboardingStorage.ts
  src/scope/server/app.py
Due: prettier, eslint

fix: add missing mythical-creature thumbnail + onError fallback
  frontend/public/assets/onboarding/mythical-creature.webp
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
Due: prettier, eslint

fix: allow disconnecting cloud even when isSignedIn state is stale
  frontend/src/components/settings/DaydreamAccountSection.tsx
Due: prettier, eslint

fix: remove hardcoded /tmp/ paths from starter workflow LoRA nodes
  frontend/src/components/onboarding/starterWorkflows.ts
Due: prettier, eslint

fix: wider grid for 4 workflows, swap camera check workflow, camera icon
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
Due: prettier, eslint

fix: resolve dual React instance crash in Electron app
  app/vite.config.ts
  app/vite.renderer.config.ts
Due: none

feat: filter onboarding workflows by GPU availability
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
Due: prettier, eslint

feat: swap workflows, rename, add starter chip + workflows tab section
  frontend/public/assets/onboarding/blobme.png
  frontend/public/assets/onboarding/dissolving-sunflower.png
  frontend/src/components/Header.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/StarterWorkflowsChip.tsx
  frontend/src/components/onboarding/WorkspaceTour.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
  frontend/src/components/onboarding/tourSteps.ts
  frontend/src/components/settings/WorkflowsTab.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: move survey back button to upper-left corner for consistency
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
Due: prettier, eslint

feat: local-mode workflow, back button, Windows fog-of-war fix
  frontend/src/components/onboarding/FogOfWarBackground.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
  frontend/src/contexts/OnboardingContext.tsx
Due: prettier, eslint

fix: survey back navigation + Camera Preview as 4th local workflow
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/WorkflowPickerStep.tsx
Due: prettier, eslint

fix: connect record node to last pipeline in starter workflows
  frontend/src/components/onboarding/starterWorkflows.ts
Due: prettier, eslint

feat: toolbar enhancements and onboarding tour fixes
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/ui/tokens.ts
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/starterWorkflows.ts
Due: prettier, eslint

fix: add prompt_blend to FRONTEND_ONLY_TYPES to prevent backend validation error
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

feat: add headless recording support and multi-source video_file streaming
  frontend/public/assets/test2.mp4
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/webrtc.py
  tests/mcp_multi_source_recording_test.md
  tests/test_headless_multi_stream.py
Due: none

fix: recording not working with remote inference
  src/scope/server/app.py
Due: none

fix: use registry IDs for produces_audio/produces_video in pipeline status
  src/scope/server/pipeline_manager.py
Due: none
