Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

fix: close workflow import dialog immediately after load confirmation
  frontend/src/components/WorkflowImportDialog.tsx
Due: prettier, eslint

feat: hide delete button for sample LoRAs in cloud mode
  frontend/src/components/settings/LoRAsTab.tsx
  frontend/src/lib/api.ts
  src/scope/server/app.py
Due: prettier, eslint

fix: mark session-dir sample LoRAs as read_only too
  src/scope/server/app.py
Due: none

refactor: remove _cache_sample_loras since sample LoRAs are pre-populated
  src/scope/cloud/fal_app.py
Due: none

feat: descriptive model load & minor changes
  frontend/package-lock.json
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: strip to 5 analytics events, remove identify and hardcoded tokens
  docs/telemetry.md
  frontend/src/components/Header.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/OutputsPanel.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/ReportBugDialog.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/TelemetryDisclosure.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/components/settings/DmxTab.tsx
  frontend/src/components/settings/OscTab.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/contexts/TelemetryContext.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/analytics/mixpanel-provider.ts
  frontend/src/lib/analytics/noop-provider.ts
  frontend/src/lib/analytics/posthog-provider.ts
  frontend/src/lib/analytics/types.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/telemetry.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

livepeer: Enable network payments
  docs/livepeer.md
  frontend/src/components/settings/DaydreamAccountSection.tsx
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  uv.lock
Due: prettier, eslint

Re-enable local recording for Livepeer mode.
  src/scope/server/cloud_proxy.py
Due: none

fix: sanitize Windows LoRA paths before loading on Linux cloud worker
  src/scope/server/pipeline_manager.py
  tests/test_pipeline_manager.py
Due: none

fix: use as_posix() for rewritten lora paths; ruff format tests
  src/scope/server/pipeline_manager.py
  tests/test_pipeline_manager.py
Due: none

feat: improve onboarding UX with auto-skip workflow review & persistent cloud LoRAs (#766)
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/settings/LoRAsTab.tsx
  frontend/src/lib/api.ts
  src/scope/cloud/fal_app.py
  src/scope/core/workflows/resolve.py
  src/scope/server/app.py
  src/scope/server/models_config.py
Due: prettier, eslint

fix: refresh graph state when pipelines are refreshed after plugin changes
  frontend/package-lock.json
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/contexts/PipelinesContext.tsx
Due: prettier, eslint

fix: refresh graph state when pipelines are refreshed after plugin ch… (#775)
  frontend/package-lock.json
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/contexts/PipelinesContext.tsx
Due: prettier, eslint

Fix LoRA downloading in workflow mode.
  src/scope/server/app.py
Due: none

feat: add multi-source/multi-sink support with headless recording
  frontend/public/assets/test2.mp4
  frontend/src/components/StatusBar.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/cloud_ws_endpoint.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/recording.py
  src/scope/server/recording_coordinator.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/mcp_multi_source_recording_test.md
  tests/test_headless_multi_stream.py
  uv.lock
Due: prettier, eslint

livepeer: Initialize output-only channels for text mode.
  docs/architecture/livepeer.md
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  src/scope/cloud/livepeer_app.py
  src/scope/server/livepeer_client.py
Due: prettier, eslint

fix: yolo mask input when topology is not specified
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

feat: descriptive model load & minor changes (#767)
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: remove stale JSDoc referencing removed telemetry_opt_in event
  frontend/src/lib/telemetry.ts
Due: prettier, eslint

feat: strip to 5 analytics events, remove identify and hardcoded tokens (#768)
  docs/telemetry.md
  frontend/src/components/Header.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/OutputsPanel.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/ReportBugDialog.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/components/onboarding/OnboardingOverlay.tsx
  frontend/src/components/onboarding/TelemetryDisclosure.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/components/settings/DmxTab.tsx
  frontend/src/components/settings/OscTab.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/contexts/TelemetryContext.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/analytics/mixpanel-provider.ts
  frontend/src/lib/analytics/noop-provider.ts
  frontend/src/lib/analytics/posthog-provider.ts
  frontend/src/lib/analytics/types.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/telemetry.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: better play pause ux & default workflow edges fix
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
Due: prettier, eslint

fix: vace specific output ports when topology is not specified (#777)
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

feat: better play pause ux & default workflow edges fix (#778)
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
Due: prettier, eslint

feat: add multi-source/multi-sink support with headless recording
  frontend/public/assets/test2.mp4
  frontend/src/components/StatusBar.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/cloud_ws_endpoint.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/recording.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/source_manager.py
  src/scope/server/syphon/receiver.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/mcp_multi_source_recording_test.md
  tests/test_headless_multi_stream.py
  uv.lock
Due: prettier, eslint

feat: add per-node recording and multi-sink frame draining
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/headless.py
Due: none

feat: add cloud multi-source/sink support and fix Syphon receiver
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/syphon/receiver.py
Due: none

feat: add WebRTC multi-source/sink support with new track types
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

feat: add MCP server multi-source/sink and cloud graph mode support
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
Due: none

refactor: extract source/sink managers from frame processor
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/source_manager.py
Due: none

feat: add MCP server recording support and cloud connection tools
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/recording.py
Due: none

feat: add local cloud dev server for testing cloud relay flow
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_ws_endpoint.py
  uv.lock
Due: none

chore: bump version to 0.2.0
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

feat: add frontend multi-source/sink support and tests
  frontend/public/assets/test2.mp4
  frontend/src/components/StatusBar.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  tests/mcp_multi_source_recording_test.md
  tests/test_headless_multi_stream.py
Due: prettier, eslint

feat: node backend execution & scheduler node
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/connection/useConnectionLogic.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodeColors.ts
  frontend/src/components/graph/nodes/BackendNode.tsx
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/PromptListNode.tsx
  frontend/src/components/graph/nodes/SchedulerNode.tsx
  frontend/src/components/graph/nodes/TriggerNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/components/graph/utils/typeResolution.ts
  frontend/src/hooks/useNodeSchemas.ts
  frontend/src/hooks/useNodeWebSocket.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  src/scope/core/nodes/__init__.py
  src/scope/core/nodes/base_schema.py
  src/scope/core/nodes/interface.py
  src/scope/core/nodes/registry.py
  src/scope/core/nodes/scheduler/__init__.py
  src/scope/core/nodes/scheduler/node.py
  src/scope/core/nodes/scheduler/schema.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  src/scope/server/app.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_schema.py
  src/scope/server/node_manager.py
  src/scope/server/node_router.py
Due: prettier, eslint

fix(ltx2): resolve tensor device mismatch in pipeline and weight streaming
  src/scope/core/pipelines/ltx2/pipeline.py
  src/scope/core/pipelines/weight_streaming.py
Due: none

fix(fal): pre-install livepeer extras at build time, increase startup timeout
  src/scope/cloud/livepeer_fal_app.py
Due: none

Re-enable local recording for Livepeer mode. (#774)
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
Due: none

livepeer: Initialize output-only channels for text mode. (#776)
  docs/architecture/livepeer.md
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  src/scope/cloud/livepeer_app.py
  src/scope/server/livepeer_client.py
Due: prettier, eslint
