Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

feat: add UI support for first-frame-last-frame (FFLF) extension mode
  frontend/src/components/ImageManager.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

feat: update vace docs
  docs/api/vace.md
  docs/vace.md
  src/scope/core/pipelines/wan2_1/vace/design.md
Due: none

Add Dynamic Parameter Rendering
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/SettingsPanelRenderer.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
Due: prettier, eslint

Update
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
Due: none

Update
  frontend/src/components/SettingsPanelRenderer.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useStreamState.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/helpers.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/core/pipelines/wan2_1/blocks/prepare_latents.py
  src/scope/core/pipelines/wan2_1/blocks/prepare_video_latents.py
  src/scope/server/schema.py
Due: prettier, eslint

Update
  frontend/src/components/SettingsPanelRenderer.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
Due: prettier, eslint

Update
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/SettingsPanelRenderer.tsx
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/helpers.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: prettier, eslint

Update
  frontend/src/components/SettingsPanelRenderer.tsx
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/helpers.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/wan2_1/blocks/prepare_latents.py
  src/scope/core/pipelines/wan2_1/blocks/prepare_video_latents.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Update
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/helpers.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
Due: none

Update
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
Due: none

Update
  src/scope/server/pipeline_manager.py
Due: none

Update
  src/scope/core/pipelines/memflow/pipeline.py
Due: none

Update
  src/scope/server/schema.py
Due: none

spike
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/longlive/blocks/__init__.py
  src/scope/core/pipelines/longlive/blocks/enhanced_denoise.py
  src/scope/core/pipelines/longlive/enhanced_modular_blocks.py
  src/scope/core/pipelines/longlive/enhanced_pipeline.py
  src/scope/core/pipelines/longlive/enhancements.py
  src/scope/core/pipelines/longlive/test_enhancements.py
Due: prettier, eslint

tau
  src/scope/core/pipelines/longlive/blocks/enhanced_denoise.py
  src/scope/core/pipelines/longlive/enhancements.py
  src/scope/core/pipelines/longlive/test_enhancements.py
Due: none

Add recording environment variables to README.md Signed-off-by: Rafal Leszko <rafal@livepeer.org>
  README.md
Due: none

Add recording environment variables Signed-off-by: Rafal Leszko <rafal@livepeer.org>
  src/scope/server/recording.py
Due: none

Add recording
  frontend/src/components/ExportDialog.tsx
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/recording.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  uv.lock
Due: prettier, eslint

Fix after rebase
  frontend/package-lock.json
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
Due: prettier, eslint

Fix after code review
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/recording.py
Due: prettier, eslint

Update
  frontend/package-lock.json
Due: prettier

Update
  src/scope/server/app.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: none

Fix and simplify the FPS calculation logic
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
  src/scope/server/tracks.py
Due: none

Add RIFE pipeline
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/artifacts.py
  src/scope/core/pipelines/process.py
  src/scope/core/pipelines/registry.py
  src/scope/core/pipelines/rife/__init__.py
  src/scope/core/pipelines/rife/modules/IFNet_HDv3.py
  src/scope/core/pipelines/rife/modules/RIFE_HDv3.py
  src/scope/core/pipelines/rife/modules/__init__.py
  src/scope/core/pipelines/rife/modules/interpolation.py
  src/scope/core/pipelines/rife/modules/loss.py
  src/scope/core/pipelines/rife/modules/warplayer.py
  src/scope/core/pipelines/rife/pipeline.py
  src/scope/core/pipelines/rife/schema.py
  src/scope/core/pipelines/rife/test.py
  src/scope/core/pipelines/video_depth_anything/pipeline.py
  src/scope/server/download_models.py
  src/scope/server/models_config.py
  src/scope/server/pipeline_manager.py
Due: none

RIFE: Address PR Review comments
  src/scope/core/pipelines/process.py
  src/scope/core/pipelines/rife/modules/IFNet_HDv3.py
  src/scope/core/pipelines/rife/modules/RIFE_HDv3.py
  src/scope/core/pipelines/rife/modules/interpolation.py
  src/scope/core/pipelines/rife/modules/loss.py
  src/scope/core/pipelines/rife/modules/warplayer.py
  src/scope/core/pipelines/rife/pipeline.py
Due: none

Fix unloading pipeline bug
  src/scope/server/pipeline_manager.py
Due: none

Refactor preprocess_chunk()
  src/scope/core/pipelines/process.py
Due: none

Update preprocess_chunk()
  src/scope/core/pipelines/process.py
Due: none

Add postprocessors
  frontend/src/components/SettingsPanel.tsx
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/rife/schema.py
Due: prettier, eslint

Fix to audio pipeline output.
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
Due: none

Modification to queue fps after main merge with ltx2.
  src/scope/server/pipeline_processor.py
Due: none

Fix Postprocessor UI visual consistency
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
Due: prettier, eslint
