Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

Add Server API
  docs/server.md
  src/scope/server/app.py
  src/scope/server/build.py
Due: none

Run pipeline in a subprocess
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_proxy.py
  src/scope/server/pipeline_worker.py
Due: none

fixup imports
  src/scope/core/pipelines/wan2_1/lora/strategies/permanent_merge_lora.py
Due: none

perf: load from state dict
  src/scope/core/pipelines/wan2_1/lora/strategies/permanent_merge_lora.py
Due: none

Improve error handling
  frontend/src/hooks/usePipeline.ts
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Improve error handling
  frontend/src/hooks/usePipeline.ts
Due: prettier, eslint

fix: runtime peft lora conversion
  src/scope/core/pipelines/wan2_1/lora/strategies/peft_lora.py
  src/scope/core/pipelines/wan2_1/lora/strategies/permanent_merge_lora.py
  src/scope/core/pipelines/wan2_1/lora/utils.py
Due: none

chore: remove dead code
  src/scope/core/pipelines/wan2_1/lora/utils.py
Due: none

Revert backend changes Signed-off-by: Rafal Leszko <rafal@livepeer.org>
  src/scope/server/app.py
  src/scope/server/build.py
Due: none

feat: independent lora merge strategies
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/wan2_1/lora/manager.py
  src/scope/core/pipelines/wan2_1/lora/mixin.py
  src/scope/server/schema.py
Due: prettier, eslint

Update server.md
  docs/server.md
Due: none

strength tooltip
  frontend/src/data/parameterMetadata.ts
Due: prettier, eslint

Move subprocess to frame processor
  src/scope/server/frame_processor_proxy.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_worker.py
  src/scope/server/tracks.py
Due: none

Remove pipeline proxy - no longer used
  src/scope/server/pipeline_proxy.py
Due: none

debugging timeline
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/useTimelinePlayback.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  frontend/src/utils/timelinePromptSubmission.ts
Due: prettier, eslint

Ensure models/lora exists
  src/scope/server/app.py
  src/scope/server/models_config.py
Due: none

Add LoRA guide
  README.md
  docs/lora.md
Due: none

Fix wget command syntax in lora.md
  docs/lora.md
Due: none

Bump to v0.1.0a7
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Fix Dockerfile
  Dockerfile
Due: none

refactor: centralize pipline defaults
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/interface.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/passthrough/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/server/app.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: prettier, eslint

refactor: introduce generation mode defaults
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/lib/utils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/interface.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/passthrough/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/server/frame_processor.py
  src/scope/server/schema.py
Due: prettier, eslint

Add quantization load param for longlive + streamdiffusionv2
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: none

Add quantization controls in frontend
  frontend/src/components/SettingsPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/schema.py
Due: prettier, eslint

feat: universal input modes backend
  src/scope/core/pipelines/base/__init__.py
  src/scope/core/pipelines/base/vae/__init__.py
  src/scope/core/pipelines/base/vae/factory.py
  src/scope/core/pipelines/base/vae/krea_realtime_video.py
  src/scope/core/pipelines/base/vae/longlive.py
  src/scope/core/pipelines/base/vae/streamdiffusionv2.py
  src/scope/core/pipelines/defaults.py
  src/scope/core/pipelines/interface.py
  src/scope/core/pipelines/krea_realtime_video/components/__init__.py
  src/scope/core/pipelines/krea_realtime_video/modular_blocks.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/components/__init__.py
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/components/__init__.py
  src/scope/core/pipelines/streamdiffusionv2/components/vae.py
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/wan2_1/blocks/prepare_video_latents.py
Due: none

front end WIP
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/constants/modes.ts
  frontend/src/data/pipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/lib/pipelineModes.ts
  frontend/src/lib/utils.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  frontend/src/utils/pipelineSettings.ts
Due: prettier, eslint

Fix default cmd in Dockerfile
  Dockerfile
Due: none
