Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Use venv in userData and read everything else from resources for Electron
  app/src/components/Setup.tsx
  app/src/main.ts
  app/src/services/pythonProcess.ts
  app/src/services/setup.ts
  app/src/types/ipc.ts
  app/src/types/services.ts
  app/src/utils/config.ts
Due: none

Dynamically load logs in LogViewer
  app/src/components/LogViewer.js
  app/src/services/electronApp.ts
Due: none

Use custom downloader instad of snapshot_download
  pyproject.toml
  src/scope/server/download_models.py
  src/scope/server/download_progress_manager.py
  src/scope/server/pipeline_artifacts.py
  uv.lock
Due: none

Fix border outline on Download Dialog
  frontend/src/components/ui/dialog.tsx
Due: prettier, eslint

No cache for index.html served by server
  src/scope/server/app.py
Due: none

Handle non-UTF-8 bytes when copying logs
  src/scope/server/app.py
Due: none

Bump to v0.1.0-alpha.12
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

firstframe last frame
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/wan2_1/blocks/decode.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
Due: none

wip
  frontend/src/components/ImageManager.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: prettier, eslint

wip2
  frontend/src/components/ImageManager.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

feat: add image control
  frontend/src/components/ImageManager.tsx
  frontend/src/components/ui/file-picker.tsx
  frontend/src/lib/api.ts
  src/scope/core/config.py
  src/scope/server/app.py
  src/scope/server/models_config.py
Due: prettier, eslint

feat: evolved image picker infrastructure
  frontend/src/components/ImageManager.tsx
  frontend/src/components/MediaPicker.tsx
  frontend/src/lib/api.ts
  src/scope/core/config.py
  src/scope/server/app.py
  src/scope/server/models_config.py
  src/scope/server/schema.py
Due: prettier, eslint

feat: VACE Infrastructure
  src/scope/core/pipelines/wan2_1/blocks/decode.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/lora/strategies/module_targeted_lora.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/models/__init__.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/__init__.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

feat: 257 review
  src/scope/core/pipelines/wan2_1/blocks/decode.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/design.md
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/__init__.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

feat: add image control
  frontend/src/lib/api.ts
  src/scope/server/app.py
Due: prettier, eslint

feat: evolved image picker infrastructure
  src/scope/server/app.py
Due: none

feat: VACE Longlive + Windows video support
  frontend/src/lib/api.ts
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/video.py
  src/scope/server/schema.py
Due: prettier, eslint

feat: VACE StreamDiffusionv2
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/streamdiffusionv2/components/vae.py
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
  src/scope/core/pipelines/streamdiffusionv2/modules/causal_model.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/test_r2v.py
Due: none

rename ref_images
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/frame_processor.py
Due: prettier, eslint

feat: add VACE support to server, front end
  docs/vace.md
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Use load_video and remove cv2 from longlive VACE test
  src/scope/core/pipelines/longlive/test_vace.py
Due: none

Remove torchcodec dep and use imageio
  pyproject.toml
  src/scope/core/pipelines/video.py
  uv.lock
Due: none

remove lazy loading
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/mixin.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: prettier, eslint

02 VACE feat: Infrastructure (#257)
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/lora/strategies/module_targeted_lora.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/design.md
  src/scope/core/pipelines/wan2_1/vace/models/__init__.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/__init__.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

Only run pytest on tests in root
  pyproject.toml
Due: none

03 VACE feat: Longlive + Windows video support (#258)
  pyproject.toml
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/video.py
  src/scope/server/schema.py
  uv.lock
Due: none

Fix linting error
  src/scope/core/pipelines/video.py
Due: none

04 VACE feat: stream diffusionv2 (#259)
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/streamdiffusionv2/components/vae.py
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
  src/scope/core/pipelines/streamdiffusionv2/modules/causal_model.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/test_r2v.py
  src/scope/core/pipelines/video.py
Due: none

Remove old lazy load VACE code
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
