Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

feat: compilable code
  src/scope/core/pipelines/longlive/blocks/__init__.py
  src/scope/core/pipelines/longlive/blocks/setup_caches.py
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/memflow/blocks/recache_frames.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
Due: none

fix: ruff
  src/scope/server/pipeline_processor.py
Due: none

fix: nits and ruff
  src/scope/core/pipelines/longlive/blocks/setup_caches.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: none

fix: vace video, note nits, schema
  frontend/src/components/ComplexFields.tsx
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/server/pipeline_processor.py
Due: prettier, eslint

feat: add warmup
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
Due: none

fix: resolve python and frontend lint errors
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/usePipeline.ts
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
Due: prettier, eslint

fix: vace warmup, frontend vacefp8
  frontend/src/components/ComplexFields.tsx
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: prettier, eslint

fix: cleanup
  src/scope/core/pipelines/longlive/test.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: none

fix: vae encode bug
  src/scope/core/pipelines/longlive/pipeline.py
Due: none

fix: vace warmup
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: none

feat: frontend changes
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/usePipeline.ts
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/lib/schemaSettings.ts
  frontend/src/types/index.ts
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/longlive/test.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

fix: cleanup
  src/scope/core/pipelines/longlive/pipeline.py
Due: none

feat: vace working
  src/scope/core/pipelines/longlive/modules/causal_model.py
Due: none

deps and desc
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/mcp_server.py
Due: none

v2v fix
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/blocks/setup_caches.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
Due: none

Code cleanup and refactor.
  frontend/src/components/TempoSyncPanel.tsx
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/settings/ModulationSection.tsx
  frontend/src/components/settings/OscTab.tsx
  frontend/src/components/settings/TempoSyncSection.tsx
  frontend/src/hooks/useTempoSync.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/modulation.py
Due: prettier, eslint

Linting/formatting.
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Better handling.
  frontend/src/pages/StreamPage.tsx
  src/scope/server/frame_processor.py
  src/scope/server/parameter_scheduler.py
  src/scope/server/tempo_sources/link.py
  src/scope/server/tempo_sync.py
Due: prettier, eslint

style: ruff format two pre-existing unformatted files
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/server/pipeline_manager.py
Due: none

fix: pad vace_input_frames to min temporal size to avoid 3x1x1 kernel underflow
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: none

fix: add CUDA pre-flight guard for plugin pipelines (#675)
  src/scope/cloud/fal_app.py
  src/scope/server/pipeline_manager.py
Due: none

port flexibility, ocp
  .mcp.json
  src/scope/server/app.py
  src/scope/server/mcp_server.py
Due: none

vace compile fix, enc_feat_map fix
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/wan2_1/vae/wan.py
Due: none

Add libasound2 to Dockerfiles
  Dockerfile
  Dockerfile.cloud
Due: none

Update doc and CLAUDE.md
  CLAUDE.md
  docs/tempo-sync-review.md
  docs/tempo-sync.md
Due: none

review fixes
  src/scope/core/pipelines/memflow/blocks/recache_frames.py
  src/scope/server/pipeline_processor.py
Due: none

feat: vae cache
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/core/pipelines/wan2_1/vae/modules/vae.py
  src/scope/core/pipelines/wan2_1/vae/wan.py
  src/scope/server/pipeline_manager.py
Due: none

Move mcp from optional extra to core dependency
  uv.lock
Due: none

feat: mcp followup (#677)
  .mcp.json
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/mcp_server.py
  uv.lock
Due: none

Fix extra params filtering to use output queues instead of hardcoded key
  src/scope/server/pipeline_processor.py
Due: none

Add graph mode backend (#664)
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/server/app.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/pipeline_throttler.py
  src/scope/server/schema.py
  tests/test_frame_delivery.py
  tests/test_pipeline_manager.py
Due: none

Remove 'extra_params' log
  src/scope/server/pipeline_processor.py
Due: none

Remove 'extra_params' log (#678)
  src/scope/server/pipeline_processor.py
Due: none

Fix tempo sync docs: use uv sync --extra and remove libasound2 from Dockerfiles
  CLAUDE.md
  Dockerfile
  Dockerfile.cloud
  docs/tempo-sync.md
Due: none

Revert unnecessary DownloadDialog prop changes from tempo sync PR
  frontend/src/components/DownloadDialog.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Fix quantize detection missing non-primitive discrete params
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Revert unintended package-lock.json changes
  frontend/package-lock.json
Due: prettier

Extract tempo sync endpoints into dedicated router
  src/scope/server/app.py
  src/scope/server/tempo_router.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
