Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Full attn bias implementation
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/pages/StreamPage.tsx
  lib/schema.py
  pipelines/krea_realtime_video/inference.py
  pipelines/krea_realtime_video/model.yaml
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
Due: prettier, eslint

refactor padding and use constants
  pipelines/krea_realtime_video/inference.py
  pipelines/krea_realtime_video/model.yaml
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
  pipelines/krea_realtime_video/vendor/wan2_1/wrapper.py
Due: none

refactor slider handling
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useLocalSliderValue.ts
Due: prettier, eslint

bias adjustable at inference time
  frontend/src/components/SettingsPanel.tsx
Due: prettier, eslint

Revert all streamdiffusionv2 changes
  pipelines/streamdiffusionv2/decoders.py
  pipelines/streamdiffusionv2/denoise.py
  pipelines/streamdiffusionv2/encoders.py
  pipelines/streamdiffusionv2/modular_blocks.py
  pipelines/streamdiffusionv2/modular_config.json
  pipelines/streamdiffusionv2/pipeline.py
  pipelines/streamdiffusionv2/preprocess.py
  pipelines/streamdiffusionv2/vendor/causvid/models/wan/causal_stream_inference.py
Due: none

include in timeline export
  frontend/src/components/PromptTimeline.tsx
Due: prettier, eslint

render script
  render.py
  timelines/0.01bias.json
  timelines/0.11bias.json
  timelines/0.21bias.json
  timelines/0.31bias.json
  timelines/0.41bias.json
  timelines/0.51bias.json
  timelines/0.70bias.json
  timelines/0.90bias.json
  timelines/1.0bias.json
Due: none

video concat
  concatenate_videos.py
  render.py
Due: none

KV Attention Bias -> Cache Bias in UI
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
Due: prettier, eslint

Convert scalart to tensor before capturing in score_mod
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
Due: none

fix comments, adjust schema descr. to match tooltip, fix default from 0 to 1
  lib/schema.py
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
Due: none

neg attn backend spike
  lib/frame_processor.py
  lib/schema.py
  pipelines/krea_realtime_video/inference.py
  pipelines/krea_realtime_video/model.yaml
  pipelines/krea_realtime_video/pipeline.py
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
  pipelines/krea_realtime_video/vendor/wan2_1/wrapper.py
Due: none

neg attn front end spike
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

Update uv.lock
  uv.lock
Due: none

Use 0.3 as default cache bias
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useStreamState.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Bump to v0.1.0a6
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Add offline generation to pipeline usage docs
  pipelines/krea_realtime_video/docs/usage.md
  pipelines/longlive/docs/usage.md
  pipelines/streamdiffusionv2/docs/usage.md
Due: none

Add download_models project script
  download_models.py
  pyproject.toml
Due: none

fix: prevent zero-sized tensor in flex_attention padding removal
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
Due: none

fix: additional occurences of slice bug
  pipelines/base/wan2_1/modules/causal_model.py
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
  pipelines/streamdiffusionv2/vendor/causvid/models/wan/causal_model.py
Due: none

lora support
  app.py
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/ui/file-picker.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  lib/frame_processor.py
  lib/pipeline_manager.py
  lib/schema.py
  pipelines/base/lora_mixin.py
  pipelines/base/wan2_1/lora.py
  pipelines/base/wan2_1/modules/causal_model.py
  pipelines/base/wan2_1/modules/model.py
  pipelines/krea_realtime_video/pipeline.py
  pipelines/krea_realtime_video/vendor/wan2_1/modules/causal_model.py
  pipelines/longlive/pipeline.py
  pipelines/streamdiffusionv2/pipeline.py
  pipelines/streamdiffusionv2/vendor/causvid/models/wan/causal_model.py
Due: prettier, eslint

support additional key mappings
  pipelines/base/wan2_1/lora.py
Due: none

prohibit adding a removing loras during stream
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/SettingsPanel.tsx
Due: prettier, eslint

timeline export
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/pages/StreamPage.tsx
  frontend/src/utils/timelinePromptSubmission.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
