Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

feat: add audio-beep as built-in pipeline
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/audio_beep/__init__.py
  src/scope/core/pipelines/audio_beep/pipeline.py
  src/scope/core/pipelines/audio_beep/schema.py
  src/scope/core/pipelines/registry.py
Due: none

feat: add audio support for cloud relay mode
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/webrtc.py
Due: none

fix: add recvonly audio transceiver to cloud WebRTC offer
  src/scope/server/cloud_webrtc_client.py
Due: none

feat: add audio-video-test as built-in pipeline
  src/scope/core/pipelines/audio_video_test/__init__.py
  src/scope/core/pipelines/audio_video_test/pipeline.py
  src/scope/core/pipelines/audio_video_test/schema.py
  src/scope/core/pipelines/registry.py
Due: none

fix: de-interleave packed audio from cloud before queuing
  src/scope/server/frame_processor.py
Due: none

fix: always create both video and audio tracks in cloud relay mode
  src/scope/server/cloud_track.py
  src/scope/server/frame_processor.py
  src/scope/server/webrtc.py
Due: none

feat: conditionally create audio/video tracks based on pipeline modalities
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/audio_track.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
  src/scope/server/webrtc.py
Due: prettier, eslint

Fix cloud
  frontend/src/hooks/usePipeline.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/webrtc.py
Due: prettier, eslint

address async comments
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/connection/typeResolution.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/KnobsNode.tsx
  frontend/src/components/graph/nodes/MidiNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/SubgraphNode.tsx
  frontend/src/components/graph/nodes/TriggerNode.tsx
  frontend/src/components/graph/nodes/VaceNode.tsx
  frontend/src/components/graph/nodes/XYPadNode.tsx
  frontend/src/components/graph/ui/NodeHeader.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

fixes
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/nodes/MathNode.tsx
  frontend/src/components/graph/nodes/SubgraphNode.tsx
  frontend/src/components/graph/utils/subgraphSerialization.ts
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

QoL fixes
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useConnectedValue.ts
  frontend/src/components/graph/nodes/BoolNode.tsx
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/nodes/NoteNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/TupleNode.tsx
  frontend/src/components/graph/nodes/VaceNode.tsx
  frontend/src/components/graph/ui/NodeBody.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/NodePillSearchableSelect.tsx
  frontend/src/components/graph/ui/NodePillTextarea.tsx
  frontend/src/data/blueprints/index.ts
  frontend/src/data/blueprints/int-control-math.json
  frontend/src/data/blueprints/knobs-panel.json
  frontend/src/data/blueprints/lfo-bool-gate.json
  frontend/src/data/blueprints/lfo-range-oscillator.json
  frontend/src/data/blueprints/manual-prompt-switcher.json
  frontend/src/data/blueprints/midi-cc-scaler.json
  frontend/src/data/blueprints/midi-prompt-switcher.json
  frontend/src/data/blueprints/slider-denoise.json
  frontend/src/data/blueprints/timed-prompt-cycler.json
  frontend/src/data/blueprints/xy-to-math.json
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

bug fixes in subgraphs & fix noisy log on remote inference
  frontend/src/components/graph/hooks/connection/typeResolution.ts
  frontend/src/components/graph/hooks/connection/useConnectionLogic.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphEval.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphOperations.ts
  frontend/src/components/graph/hooks/value/useParentValueBridge.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/nodes/KnobsNode.tsx
  frontend/src/components/graph/nodes/MidiNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/lib/graphUtils.ts
  src/scope/server/cloud_track.py
  src/scope/server/frame_processor.py
Due: prettier, eslint

fixes after comments
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/RecordNode.tsx
  frontend/src/hooks/useVideoSource.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/graph_schema.py
Due: prettier, eslint

blueprints
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/BlueprintBrowserModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphEval.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/PrimitiveNode.tsx
  frontend/src/components/graph/nodes/TriggerNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/components/graph/utils/subgraphSerialization.ts
  frontend/src/data/blueprints/index.ts
  frontend/src/data/blueprints/int-control-math.json
  frontend/src/data/blueprints/lfo-bool-gate.json
  frontend/src/data/blueprints/manual-prompt-switcher.json
  frontend/src/data/blueprints/midi-prompt-switcher.json
  frontend/src/data/blueprints/slider-denoise.json
  frontend/src/data/blueprints/types.ts
  frontend/src/data/blueprints/xy-to-math.json
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

Remove unused imports and variables from cherry-pick conflict resolution
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fixes & recording node
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/CustomEdge.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/RecordNode.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/index.css
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/recording.py
  src/scope/server/webrtc.py
Due: prettier, eslint

unified workflow import
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/lib/workflowApi.ts
  frontend/src/lib/workflowSettings.ts
Due: prettier, eslint

fix linting
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

bug fixes
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/connection/typeResolution.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphEval.ts
  frontend/src/components/graph/hooks/value/useParentValueBridge.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Remove built-in audio-beep and audio-video-test pipelines
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/audio_beep/__init__.py
  src/scope/core/pipelines/audio_beep/pipeline.py
  src/scope/core/pipelines/audio_beep/schema.py
  src/scope/core/pipelines/audio_video_test/__init__.py
  src/scope/core/pipelines/audio_video_test/pipeline.py
  src/scope/core/pipelines/audio_video_test/schema.py
  src/scope/core/pipelines/registry.py
Due: none

Audio Support for Scope Rework (#534)
  frontend/src/components/VideoOutput.tsx
  frontend/src/hooks/usePipeline.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/ndi/lib.py
  src/scope/core/outputs/ndi.py
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/registry.py
  src/scope/server/audio_track.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_manager.py
  src/scope/server/pipeline_processor.py
  src/scope/server/recording.py
  src/scope/server/schema.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/test_audio_processing_track.py
Due: prettier, eslint

fixes & workflow import dialog
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/graph/GraphWorkflowImportDialog.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphCallbackSync.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: add backend graph engine for node execution
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useBackendNodeValues.ts
  frontend/src/components/graph/nodes/GenericCustomNode.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  src/scope/core/nodes/__init__.py
  src/scope/core/nodes/base.py
  src/scope/core/nodes/builtin/__init__.py
  src/scope/core/nodes/builtin/bool_node.py
  src/scope/core/nodes/builtin/control_node.py
  src/scope/core/nodes/builtin/image_node.py
  src/scope/core/nodes/builtin/knobs_node.py
  src/scope/core/nodes/builtin/math_node.py
  src/scope/core/nodes/builtin/midi_node.py
  src/scope/core/nodes/builtin/note_node.py
  src/scope/core/nodes/builtin/pipeline_bridge_node.py
  src/scope/core/nodes/builtin/primitive_node.py
  src/scope/core/nodes/builtin/record_node.py
  src/scope/core/nodes/builtin/reroute_node.py
  src/scope/core/nodes/builtin/sink_node.py
  src/scope/core/nodes/builtin/slider_node.py
  src/scope/core/nodes/builtin/source_node.py
  src/scope/core/nodes/builtin/subgraph_io_nodes.py
  src/scope/core/nodes/builtin/subgraph_node.py
  src/scope/core/nodes/builtin/trigger_node.py
  src/scope/core/nodes/builtin/tuple_node.py
  src/scope/core/nodes/builtin/xypad_node.py
  src/scope/core/nodes/engine.py
  src/scope/core/nodes/registry.py
  src/scope/core/nodes/schema.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  src/scope/server/app.py
  src/scope/server/graph_session.py
  src/scope/server/webrtc.py
Due: prettier, eslint

Count frames dropped from cloud
  src/scope/server/frame_processor.py
Due: none

Handle cloud disconnect in CloudTrack to prevent hangs
  src/scope/server/cloud_track.py
Due: none

depfile crud
  frontend/package-lock.json
  pyproject.toml
  uv.lock
Due: prettier

feat: add credit code redemption UI in billing settings
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/lib/billing.ts
Due: prettier, eslint

First slop pass
  docs/livepeer.md
  src/scope/cloud/livepeer_app.py
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/frame_processor.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/scope_cloud_types.py
  src/scope/server/webrtc.py
Due: none

fixup! depfile crud
  uv.lock
Due: none

fix(pipeline_processor): idle backoff and prepared state for audio-only outputs
  src/scope/server/pipeline_processor.py
Due: none

Flush audio buffer on prompt change for immediate TTS playback
  src/scope/server/audio_track.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
Due: none

lora support in graph mode
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/connection/typeResolution.ts
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  frontend/src/components/graph/nodes/LoraNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/lib/workflowSettings.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix(pipeline_processor): idle backoff and prepared state for audio-only outputs (#718)
  src/scope/server/pipeline_processor.py
Due: none

Flush audio buffer on prompt change for immediate TTS playback (#719)
  src/scope/server/audio_track.py
  src/scope/server/frame_processor.py
  src/scope/server/pipeline_processor.py
Due: none

chore: bump version to 0.1.9
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
