Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

feat: graphs: audio output - tempo node - prompt blending (#745)
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/contextMenuItems.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/subgraph/useSubgraphEval.ts
  frontend/src/components/graph/hooks/value/useValueForwarding.ts
  frontend/src/components/graph/nodes/PromptBlendNode.tsx
  frontend/src/components/graph/nodes/PromptListNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/nodes/TempoNode.tsx
  frontend/src/components/graph/nodes/TupleNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/components/graph/utils/getValueFromNode.ts
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/components/graph/utils/typeResolution.ts
  frontend/src/data/blueprints/bouncing-prompt-weights.json
  frontend/src/data/blueprints/index.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/pipeline_manager.py
  src/scope/server/tempo_sources/midi_clock.py
Due: prettier, eslint

Add onboarding flow, workflow improvements, and plugin UI updates
  app/src/components/FogOfWarBackground.tsx
Due: none

Make telemetry opt-in first onboarding question + add quick win events
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/CloudSurveyScreens.tsx
  frontend/src/contexts/OnboardingContext.tsx
  frontend/src/lib/auth.ts
Due: prettier, eslint

prettier
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/OutputsPanel.tsx
  frontend/src/components/ReportBugDialog.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/components/settings/DmxTab.tsx
  frontend/src/components/settings/OscTab.tsx
  frontend/src/contexts/TelemetryContext.tsx
  frontend/src/lib/analytics.ts
  frontend/src/lib/analytics/mixpanel-provider.ts
  frontend/src/lib/analytics/posthog-provider.ts
  frontend/src/lib/analytics/types.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/telemetry.ts
Due: prettier, eslint

Fix telemetry disclosure: click handling, skip intro, existing user t… (#737)
  .claude/launch.json
  frontend/src/components/onboarding/CloudConnectingStep.tsx
  frontend/src/components/onboarding/TelemetryDisclosure.tsx
  frontend/src/contexts/TelemetryContext.tsx
Due: prettier, eslint

removed dead code sendBeacon
  frontend/src/lib/analytics.ts
  frontend/src/lib/analytics/mixpanel-provider.ts
  frontend/src/lib/analytics/noop-provider.ts
  frontend/src/lib/analytics/posthog-provider.ts
  frontend/src/lib/analytics/types.ts
  frontend/src/lib/telemetry.ts
Due: prettier, eslint

fal: Set request timeout to 120 minutes. (#741)
  src/scope/cloud/fal_app.py
Due: none

feat: add multi-source/multi-sink support with headless recording
  frontend/public/assets/test2.mp4
  frontend/src/components/StatusBar.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/recording.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/mcp_multi_source_recording_test.md
  tests/test_headless_multi_stream.py
Due: prettier, eslint

fix perform mode recording & recording clock
  src/scope/server/cloud_proxy.py
  src/scope/server/recording.py
  src/scope/server/webrtc.py
Due: none

refactor: remove dead code and simplify multi-source/multi-sink PR
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_schema.py
  src/scope/server/headless.py
  src/scope/server/mcp_server.py
  src/scope/server/recording.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  tests/mcp_multi_source_recording_test.md
  tests/test_headless_multi_stream.py
Due: prettier, eslint

Local cloud
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_ws_endpoint.py
  uv.lock
Due: none

fix: recording not working with remote inference (#753)
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/recording.py
  src/scope/server/webrtc.py
Due: none

feat: add MCP cloud connection tools and headless cloud session support
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  tests/mcp_multi_source_recording_test.md
Due: none

fix: re-key pipelines by graph node_id in WebRTC offer handler
  src/scope/server/webrtc.py
Due: none

refactor: remove primary track concept and simplify frame routing
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/webrtc.py
  tests/test_headless_multi_stream.py
Due: none

fix: auth redirect & toast causing locked state during onboarding
  frontend/src/contexts/TelemetryContext.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fallback to posthog
  frontend/src/lib/analytics/types.ts
  frontend/src/lib/telemetry.ts
Due: prettier, eslint

Reset connecting flag if reconnecting to an already-connected server
  src/scope/server/livepeer.py
Due: none

refactor: extract RecordingCoordinator from FrameProcessor
  src/scope/server/frame_processor.py
  src/scope/server/mcp_router.py
  src/scope/server/recording_coordinator.py
Due: none

Improve runner shutdowns, add connection_id
  src/scope/cloud/livepeer_fal_app.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
Due: none

Add cloud logging
  src/scope/cloud/livepeer_app.py
  src/scope/server/livepeer_client.py
Due: none

Additional output statistics, start playback on live edge
  src/scope/server/livepeer_client.py
  uv.lock
Due: none

Livepeer Cloud Mode (#738)
  .agents/skills/fal-runner/SKILL.md
  .agents/skills/fal-runner/reference.md
  .github/workflows/docker-build.yml
  .github/workflows/fal-deploy.yml
  .github/workflows/fal-pr-deploy.yml
  docs/architecture/livepeer.md
  docs/livepeer.md
  frontend/package-lock.json
  pyproject.toml
  src/scope/cloud/livepeer_app.py
  src/scope/cloud/livepeer_fal_app.py
  src/scope/server/app.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_track.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/scope_cloud_types.py
  src/scope/server/webrtc.py
  uv.lock
Due: prettier

fix(port): change default port to 18080, improve Windows excluded-range handling
  app/src/utils/config.ts
  app/src/utils/port.ts
Due: none

fix: auth redirect & toast causing locked state during onboarding (#755)
  frontend/src/contexts/TelemetryContext.tsx
  frontend/src/lib/analytics/types.ts
  frontend/src/lib/telemetry.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: prevent path traversal in frontend serving, asset upload, and LoRA install
  src/scope/server/app.py
Due: none

fix: default bind host to 127.0.0.1 for local-only access
  src/scope/server/app.py
Due: none

feat: add block-level pipeline decomposition for graph editor subgraph views
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/node/usePipelineParams.ts
  frontend/src/components/graph/nodeColors.ts
  frontend/src/components/graph/nodes/BlockNode.tsx
  frontend/src/components/graph/utils/blockSubgraphFactory.ts
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  src/scope/core/pipelines/block_node.py
  src/scope/core/pipelines/block_registry.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/registry.py
  src/scope/server/app.py
Due: prettier, eslint

Fix security issues (#762)
  src/scope/server/app.py
Due: none

fix: improve workflow UX on non-GPU devices
  frontend/src/components/settings/WorkflowsTab.tsx
  src/scope/core/workflows/resolve.py
Due: prettier, eslint

style: fix prettier formatting in WorkflowsTab
  frontend/src/components/settings/WorkflowsTab.tsx
Due: prettier, eslint

fix: improve workflow UX on non-GPU devices (#763)
  frontend/src/components/settings/WorkflowsTab.tsx
  src/scope/core/workflows/resolve.py
Due: prettier, eslint

feat: default to Workflow Builder mode
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: default to Workflow Builder mode (#764)
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

docs: add lint check requirements to CLAUDE.md verifying work section
  CLAUDE.md
Due: none

docs: add lint check requirements to CLAUDE.md (#765)
  CLAUDE.md
Due: none

feat: persist sample LoRAs in cloud mode & auto-skip resolved workflow review dialog
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  src/scope/cloud/fal_app.py
  src/scope/core/workflows/resolve.py
  src/scope/server/app.py
  src/scope/server/models_config.py
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
