Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

Fix
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/pipeline_processor.py
Due: none

Fix param passing
  src/scope/server/frame_processor.py
Due: none

Add params config
  frontend/src/components/graph/NodeParametersPanel.tsx
Due: prettier, eslint

make it work with the remote inference
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/useGraphState.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
Due: prettier, eslint

fix build in graph mode
  frontend/src/components/WorkflowImportDialog.tsx
Due: prettier, eslint

add node modal & control nodes
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/ControlNode.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/PipelineNode.tsx
  frontend/src/components/graph/SinkNode.tsx
  frontend/src/components/graph/SourceNode.tsx
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

previews & backend connection
  frontend/src/components/graph/ControlNode.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/SinkNode.tsx
  frontend/src/components/graph/SourceNode.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/graph_schema.py
Due: prettier, eslint

add output nodes to graph (NDI, syphon, spout)
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/OutputNode.tsx
  frontend/src/components/graph/SinkNode.tsx
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

persistent dimension & remove sidebar graph mode
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/MathNode.tsx
  frontend/src/components/graph/NoteNode.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  src/scope/server/graph_schema.py
Due: prettier, eslint

Add queryparam to filter for remote allowed plugins (#605)
  .github/workflows/docker-build.yml
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/settings/DiscoverTab.tsx
Due: prettier, eslint

chore: bump version to 0.1.6
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Output app logs from e2e as a github artifact
  .github/workflows/docker-build.yml
Due: none

restore loadingstage and connectstage
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

cleanup
  src/scope/core/pipelines/longlive/modules/model.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  test.py
Due: none

Fix download UI blocking when model artifacts contain empty files
  src/scope/server/models_config.py
Due: none

feat: compilable code
  src/scope/core/pipelines/longlive/blocks/__init__.py
  src/scope/core/pipelines/longlive/blocks/setup_caches.py
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/memflow/blocks/recache_frames.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
Due: none

revert: restore cache management UI to match main
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useMIDIController.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/midi.ts
Due: prettier, eslint

feat: add more midi inputs and remove superfluos cache management button
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/data/parameterMetadata.ts
  frontend/src/hooks/useMIDIController.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/midi.ts
Due: prettier, eslint

es lint midi fixes
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/types/webmidi.d.ts
Due: prettier, eslint

midi mappable plugins
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/PrimitiveFields.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/schema.py
  uv.lock
Due: prettier, eslint

feat: replace inline MIDI learning badge with a toast
  frontend/src/components/MIDIMappable.tsx
Due: prettier, eslint

feat: add play button to the midi controller
  frontend/src/components/MIDIMappable.tsx
  frontend/src/hooks/useMIDIController.ts
Due: prettier, eslint

formatting
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/PromptInput.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/shared/PromptField.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/webmidi.d.ts
Due: prettier, eslint

fix bug with rerenders & remove unused fun
  frontend/src/contexts/MIDIContext.tsx
  src/scope/server/webrtc.py
Due: prettier, eslint

address relevant CR comments
  frontend/src/components/DenoisingStepsSlider.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/lib/midiMapping.ts
  frontend/src/types/webmidi.d.ts
Due: prettier, eslint

midi ui formatting
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/PromptSlots.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/lib/midiMapping.ts
  frontend/src/lib/presets.ts
  frontend/src/types/midi.ts
Due: prettier, eslint

formatting
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: add MIDI prompt blend controls
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/PromptInput.tsx
  frontend/src/components/PromptSlots.tsx
  frontend/src/components/shared/PromptField.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/lib/presets.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

build fix, manage cache & forbid bypass of disabled params
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/pages/StreamPage.tsx
  uv.lock
Due: prettier, eslint

formatting
  frontend/src/contexts/MIDIContext.tsx
Due: prettier, eslint

fix build
  frontend/src/components/MIDIMappable.tsx
Due: prettier, eslint

midi ui fixes
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: MIDI support
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/DenoisingStepsSlider.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/PromptSlots.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/lib/midiMapping.ts
  frontend/src/lib/presets.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/midi.ts
  frontend/src/types/webmidi.d.ts
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/schema.py
  src/scope/server/webrtc.py
  uv.lock
Due: prettier, eslint

feat: ui fixes for the midi input
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
Due: prettier, eslint

address minor CR comments
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/DenoisingStepsSlider.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/lib/midiMapping.ts
Due: prettier, eslint

feat: add warmup
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/pipeline.py
Due: none

Add retry logic for transient VP8 decode errors in WebRTC input loops
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/tracks.py
Due: none

audio buffer
  src/scope/core/audio_buffer.py
  src/scope/server/app.py
  src/scope/server/file_utils.py
Due: none

formatting
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/useConnectionLogic.ts
  frontend/src/components/graph/hooks/useKeyboardShortcuts.ts
  frontend/src/components/graph/hooks/useNodeFactories.ts
  frontend/src/components/graph/hooks/useValueForwarding.ts
  frontend/src/components/graph/nodes/KnobsNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/TupleNode.tsx
  frontend/src/components/graph/nodes/XYPadNode.tsx
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

critical CR comments & reset cache
  frontend/src/components/graph/hooks/useGraphState.ts
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/pipeline_processor.py
Due: prettier, eslint
