Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Include VAE in required files for models
  src/scope/server/models_config.py
Due: none

Add hf_xet extra for huggingface_hub
  pyproject.toml
  uv.lock
Due: none

Remove Wan2.1 1.3B from download
  src/scope/server/download_models.py
Due: none

Use monkey patched tqdm update to log dl progress
  src/scope/server/download_models.py
Due: none

Slight tweaks to monkey patching of tqdm + disable xet
  src/scope/server/download_models.py
Due: none

Bump to v0.1.0-alpha.10
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Use trash icon to remove denoising step in UI
  frontend/src/components/DenoisingStepsSlider.tsx
Due: prettier, eslint

Fix import/export icons in timeline UI
  frontend/src/components/PromptTimeline.tsx
Due: prettier, eslint

No pipeline switches during any loading state
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Set prerelease for desktop CI based on tag
  .github/workflows/build-electron.yml
Due: none

feat: add image control
  frontend/src/components/ImageManager.tsx
  frontend/src/components/ui/file-picker.tsx
  frontend/src/lib/api.ts
  src/scope/core/config.py
  src/scope/server/app.py
  src/scope/server/models_config.py
Due: prettier, eslint

feat: VACE Infrastructure
  src/scope/core/pipelines/wan2_1/blocks/decode.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/lora/strategies/module_targeted_lora.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/models/__init__.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/__init__.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

feat: VACE Longlive + Windows video support
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/video.py
Due: none

feat: VACE StreamDiffusionv2
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
  src/scope/core/pipelines/streamdiffusionv2/modules/causal_model.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/test_r2v.py
Due: none

feat: add VACE support to server, front end
  docs/vace.md
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/server/download_models.py
  src/scope/server/frame_processor.py
  src/scope/server/models_config.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: prettier, eslint

Refactor model download to use artifacts
  src/scope/server/artifacts.py
  src/scope/server/download_models.py
  src/scope/server/models_config.py
  src/scope/server/pipeline_artifacts.py
Due: none

Show model download progress in UI
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/server/app.py
  src/scope/server/download_models.py
  src/scope/server/download_progress_manager.py
  src/scope/server/models_config.py
Due: prettier, eslint

Set max_workers=1 for model downloads for now
  src/scope/server/download_models.py
Due: none

Bump to v0.1.0-alpha.11
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Update version and Electron App author name
  app/package-lock.json
  app/package.json
Due: none

Fix ProgressBar in Electron App
  app/src/services/pythonProcess.ts
Due: none

wip
  src/scope/core/pipelines/krea_realtime_video/modular_blocks.py
  src/scope/core/pipelines/krea_realtime_video/modules/causal_model.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/test_vace.py
  src/scope/core/pipelines/utils.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

Electron App: Fix mac build
  app/build/afterPack.js
Due: none

Fix ProgressBar in Electron App
  src/scope/server/download_models.py
Due: none

Change ProgressBar from tqdm to checking the filesystem size
  frontend/src/components/DownloadDialog.tsx
  frontend/src/types/index.ts
  src/scope/server/download_models.py
  src/scope/server/download_progress_manager.py
Due: prettier, eslint

kinda interesting, not super effective
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
