Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

fix: nit
  src/scope/server/pipeline_processor.py
Due: none

chore: bump version to 0.1.4
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

bugfix: cleanup queues
  src/scope/server/pipeline_processor.py
Due: none

ratio
  pyproject.toml
Due: none

fix toml
  pyproject.toml
Due: none

Ensure plugins installed from manifest on startup
  src/scope/core/pipelines/registry.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/manager.py
  tests/test_plugin_manager.py
Due: none

merge main
  frontend/package-lock.json
  frontend/src/components/VideoOutput.tsx
  pyproject.toml
  src/scope/core/pipelines/base_schema.py
  src/scope/server/pipeline_processor.py
  uv.lock
Due: prettier, eslint

fix: chunked VAE encoding to prevent OOM
  src/scope/core/pipelines/wan2_1/blocks/prepare_video_latents.py
Due: none

fix: Float8Tensor as_strided workaround
  src/scope/core/pipelines/wan2_1/utils.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
Due: none

fix: handle zero-token KV cache edge case
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
Due: none

fix: reduce WebGL ReadPixels GPU stalls in video source capture
  frontend/src/hooks/useVideoSource.ts
Due: prettier, eslint

fix: strip .git suffix from plugin package_spec URLs (#508)
  src/scope/core/plugins/manager.py
Due: none

fix: stop excessive 401 polling on /users/profile when not logged in
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/lib/auth.ts
Due: prettier, eslint

feat: sage attn 3.0 support for rtx5090
  pyproject.toml
  src/scope/core/pipelines/wan2_1/modules/attention.py
  src/scope/core/pipelines/wan2_1/modules/sage.py
Due: none

fix: sage attn 3.0 deps
  pyproject.toml
Due: none

fix: skip sageattention source build in CI without CUDA toolkit
  .github/workflows/lint.yml
  .github/workflows/test.yml
  pyproject.toml
Due: none

fix: use correct array format for uv dependency-metadata
  pyproject.toml
Due: none

fix: use correct sageattn3 package for SageAttention 3
  .github/workflows/lint.yml
  .github/workflows/test.yml
  pyproject.toml
  src/scope/core/pipelines/wan2_1/modules/attention.py
  src/scope/core/pipelines/wan2_1/modules/sage.py
  uv.lock
Due: none

fix: skip sageattn3 install in CI without CUDA toolkit
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix: prevent uv run from re-syncing sageattn3 in CI
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

fix: issue #470
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  tests/test_pipeline_schema_metadata.py
Due: none

Plugin discovery in app (#499)
  frontend/src/components/Header.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

fix: use multi-stage Docker build for sageattn3 CUDA compilation
  Dockerfile
Due: none

upd: Claude.md / todo.md
  CLAUDE.md
  Dockerfile
  TODO.md
Due: none

Add Graph Mode
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/NodeParametersPanel.tsx
  frontend/src/components/graph/PipelineNode.tsx
  frontend/src/components/graph/SinkNode.tsx
  frontend/src/components/graph/SourceNode.tsx
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/server/app.py
  src/scope/server/frame_processor.py
  src/scope/server/graph_executor.py
  src/scope/server/graph_schema.py
  src/scope/server/graph_state.py
  src/scope/server/pipeline_processor.py
  src/scope/server/schema.py
Due: prettier, eslint

fix: sage attn3 install
  Dockerfile
  entrypoint.sh
Due: none

Add utm_source for daydream auth url
  frontend/src/lib/auth.ts
Due: prettier, eslint

Block plugin installation in remote inference for now
  src/scope/cloud/fal_app.py
Due: none

minimum docker images attempts
  Dockerfile.cu130
  Dockerfile.minimal
  Dockerfile.ultra-minimal
  pyproject.cu130.toml
Due: none

Only safetensors allowed for security
  src/scope/server/file_utils.py
Due: none

lint
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsDialog.tsx
Due: prettier, eslint

Add LoRA support in cloud relay mode (#442)
  docs/lora.md
  docs/server.md
  frontend/src/App.tsx
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/LoRAManager.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/settings/ApiKeysTab.tsx
  frontend/src/components/settings/LoRAsTab.tsx
  frontend/src/contexts/LoRAsContext.tsx
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useLoRAFiles.ts
  frontend/src/lib/api.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/file_utils.py
  src/scope/server/models_config.py
Due: prettier, eslint

fix: remove stale sageattention (SA2) in entrypoint
  entrypoint.sh
Due: none

Fix
  src/scope/server/pipeline_processor.py
Due: none

add modal testing
  test_sageattn3_modal.py
Due: none

Add LoRA manifest tracking and multi-source downloader
  scripts/test_lora_download.py
  src/scope/core/lora/__init__.py
  src/scope/core/lora/manifest.py
  src/scope/server/app.py
  src/scope/server/lora_downloader.py
  tests/test_lora_downloader.py
  tests/test_lora_manifest.py
Due: none

Expand integration test: add API endpoint verification and no-token CivitAI test
  scripts/test_lora_download.py
Due: none

ubuntu 24.04 upd
  Dockerfile
  TODO.md
  entrypoint.sh
  test_sageattn3_modal.py
Due: none
