Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Pin bundled LTX-2 plugin to latest commit in cloud image (#964)
  Dockerfile.cloud
Due: none

feat: plugin-registerable input sources with dynamic UI
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useVideoSource.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/inputs/__init__.py
  src/scope/core/inputs/interface.py
  src/scope/core/inputs/ndi.py
  src/scope/core/inputs/spout.py
  src/scope/core/inputs/syphon.py
  src/scope/core/inputs/video_file.py
  src/scope/core/nodes/__init__.py
  src/scope/core/nodes/registry.py
  src/scope/core/plugins/manager.py
  src/scope/server/app.py
  src/scope/server/source_manager.py
Due: prettier, eslint

feat: add Kafka event publishing to Livepeer fal runner (#956)
  src/scope/cloud/livepeer_fal_app.py
Due: none

feat: bring livepeer runner Kafka events to parity with cloud-relay
  src/scope/cloud/livepeer_app.py
  src/scope/cloud/livepeer_fal_app.py
Due: none

fix(e2e): update cloud-streaming test for graph-mode UI redesign
  e2e/tests/cloud-streaming.spec.ts
Due: none

fix(e2e): actually exercise the livepeer trickle path
  e2e/playwright.config.ts
  e2e/tests/cloud-streaming.spec.ts
Due: none

feat: lead SKILL with Playwright + fix run-app.sh env var quoting
  .agents/skills/testing-livepeer-fal-deploy/SKILL.md
  run-app.sh
Due: none

docs: make the testing-livepeer-fal-deploy skill discoverable
  .agents/skills/testing-livepeer-fal-deploy/SKILL.md
  CLAUDE.md
  e2e/README.md
Due: none

Remove Cloud Relay mode
  .agents/skills/fal-runner/reference.md
  .agents/skills/onboarding-test/SKILL.md
  .agents/skills/testing-livepeer/SKILL.md
  .github/workflows/build-electron-preview.yml
  .github/workflows/docker-build.yml
  .github/workflows/fal-app-change-guard.yml
  .github/workflows/fal-deploy.yml
  CLAUDE.md
  docs/livepeer.md
  e2e/README.md
  e2e/playwright.config.ts
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/App.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useLogStream.ts
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/lib/cloudContext.tsx
  frontend/src/pages/StreamPage.tsx
  src/scope/cloud/dev_app.py
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_relay.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/schema.py
  src/scope/server/scope_cloud_types.py
Due: prettier, eslint

docs: route all "test cloud" prompts to the livepeer skill
  .agents/skills/testing-livepeer-fal-deploy/SKILL.md
  CLAUDE.md
Due: none

More doc removals
  .agents/skills/fal-runner/reference.md
  .agents/skills/onboarding-test/SKILL.md
Due: none

feat: skill asks for fal app+env, deploys, then runs Playwright
  .agents/skills/testing-livepeer-fal-deploy/SKILL.md
  .env.example
  deploy-staging.sh
Due: none

Fix syphon
  src/scope/cloud/livepeer_app.py
  src/scope/server/livepeer_client.py
Due: none

feat: bring livepeer runner Kafka events to parity with cloud-relay (#969)
  src/scope/cloud/livepeer_app.py
  src/scope/cloud/livepeer_fal_app.py
Due: none

ci: point electron preview build at scope-livepeer app
  .agents/skills/onboarding-test/SKILL.md
  .github/workflows/build-electron-preview.yml
Due: none

ci: point electron preview build at scope-livepeer app (#973)
  .agents/skills/onboarding-test/SKILL.md
  .github/workflows/build-electron-preview.yml
Due: none

chore: bump version to 0.2.3
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

fix(survey): commit shown flag on render, not on schedule
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Post-session NPS survey (#877)
  frontend/src/components/SurveyModal.tsx
  frontend/src/lib/surveyEligibility.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat(evals): orphan_sinks forbid-check to catch unwired sink nodes
  evals/README.md
  evals/cases/complex-krea-prompt-switch-record.yaml
  evals/cases/complex-pipeline-name-respect.yaml
  evals/cases/complex-reference-image-no-invented-handles.yaml
  evals/cases/starter-dissolving-sunflower.yaml
  evals/cases/starter-ltx-text-to-video.yaml
  evals/cases/starter-mythical-creature.yaml
  evals/cases/vague-capture-moments.yaml
  evals/cases/vague-save-the-output.yaml
  evals/grader.py
Due: none

fix(agent): teach the agent to use ui_state for UI nodes
  src/scope/server/agent_loop.py
  src/scope/server/agent_tool_impls.py
Due: none

fix(agent): apply approved proposals to canvas, don't auto-start session
  .claude/launch.json
  frontend/src/components/Header.tsx
  frontend/src/components/agent/Composer.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/contexts/AgentContext.tsx
  frontend/src/pages/StreamPage.tsx
  src/scope/server/agent_loop.py
  src/scope/server/agent_tool_impls.py
Due: prettier, eslint

fix(agent): correct pipelines/schemas key + raise tool-round cap + compact tool UI
  frontend/src/components/agent/MessageBubble.tsx
  frontend/src/components/agent/ToolCallBlock.tsx
  src/scope/server/agent_loop.py
  src/scope/server/agent_tool_impls.py
Due: prettier, eslint

feat: agentic workflow builder
  .claude/launch.json
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/agent/AgentDrawer.tsx
  frontend/src/components/agent/ChatTranscript.tsx
  frontend/src/components/agent/Composer.tsx
  frontend/src/components/agent/MessageBubble.tsx
  frontend/src/components/agent/ToolCallBlock.tsx
  frontend/src/components/agent/WorkflowProposalCard.tsx
  frontend/src/components/graph/GraphToolbar.tsx
  frontend/src/components/settings/AgentProviderTab.tsx
  frontend/src/contexts/AgentContext.tsx
  frontend/src/data/nodes/manifest.json
  frontend/src/lib/agentClient.ts
  frontend/src/lib/api.ts
  pyproject.toml
  src/scope/server/agent_loop.py
  src/scope/server/agent_providers.py
  src/scope/server/agent_state.py
  src/scope/server/agent_tool_impls.py
  src/scope/server/app.py
  uv.lock
Due: prettier, eslint

feat(evals): complex cases + graders for prompt-switch, record wiring
  evals/README.md
  evals/cases/complex-krea-prompt-switch-record.yaml
  evals/cases/vague-capture-moments.yaml
  evals/grader.py
Due: none

feat(agent): validate workflow proposals + expose pipeline handles
  frontend/src/data/nodes/manifest.json
  src/scope/server/agent_loop.py
  src/scope/server/agent_tool_impls.py
  tests/test_agent_tool_impls.py
Due: prettier

feat(evals): agent workflow-builder eval harness
  .github/workflows/eval.yml
  .gitignore
  evals/README.md
  evals/__init__.py
  evals/__main__.py
  evals/case.py
  evals/cases/starter-dissolving-sunflower.yaml
  evals/cases/starter-ltx-text-to-video.yaml
  evals/cases/starter-mythical-creature.yaml
  evals/driver.py
  evals/grader.py
  evals/runner.py
  pyproject.toml
  tests/test_evals_smoke.py
  uv.lock
Due: none

feat(agent+evals): tighten prompt, fix manifest+graders, add 3 new cases
  evals/cases/complex-pipeline-name-respect.yaml
  evals/cases/complex-reference-image-no-invented-handles.yaml
  evals/cases/vague-save-the-output.yaml
  evals/grader.py
  frontend/src/data/nodes/manifest.json
  src/scope/server/agent_loop.py
Due: prettier

Docker workflow tweak
  .github/workflows/docker-build.yml
Due: none

fix(agent): inline chat drawer, live config refresh, terser prompt, ui_node reflow
  frontend/src/App.tsx
  frontend/src/components/agent/AgentDrawer.tsx
  frontend/src/components/settings/AgentProviderTab.tsx
  frontend/src/components/settings/ApiKeysTab.tsx
  frontend/src/contexts/AgentContext.tsx
  src/scope/server/agent_loop.py
  src/scope/server/agent_tool_impls.py
Due: prettier, eslint

feat(evals): overlapping_nodes check + forbid_proposal for runtime-tweak cases
  evals/case.py
  evals/cases/complex-krea-prompt-switch-record.yaml
  evals/cases/complex-pipeline-name-respect.yaml
  evals/cases/complex-reference-image-no-invented-handles.yaml
  evals/cases/layout-nodes-spaced.yaml
  evals/cases/runtime-tweak-no-repropose.yaml
  evals/cases/starter-dissolving-sunflower.yaml
  evals/cases/starter-ltx-text-to-video.yaml
  evals/cases/starter-mythical-creature.yaml
  evals/cases/vague-capture-moments.yaml
  evals/cases/vague-save-the-output.yaml
  evals/grader.py
  evals/runner.py
Due: none

Remove Cloud Relay mode (#972)
  .agents/skills/fal-runner/reference.md
  .agents/skills/testing-livepeer/SKILL.md
  .github/workflows/docker-build.yml
  .github/workflows/fal-app-change-guard.yml
  .github/workflows/fal-deploy.yml
  CLAUDE.md
  docs/livepeer.md
  e2e/README.md
  e2e/playwright.config.ts
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/App.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useLogStream.ts
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/lib/cloudContext.tsx
  frontend/src/pages/StreamPage.tsx
  src/scope/cloud/dev_app.py
  src/scope/cloud/fal_app.py
  src/scope/cloud/livepeer_app.py
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_proxy.py
  src/scope/server/cloud_relay.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
  src/scope/server/frame_processor.py
  src/scope/server/livepeer.py
  src/scope/server/livepeer_client.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
  src/scope/server/schema.py
  src/scope/server/scope_cloud_types.py
Due: prettier, eslint

Fix starting workflows without a source
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

feat: unified node abstraction with custom node catalog
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/nodes/CustomNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  src/scope/core/nodes/__init__.py
  src/scope/core/nodes/base.py
  src/scope/core/nodes/registry.py
  src/scope/core/pipelines/interface.py
  src/scope/core/pipelines/registry.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  src/scope/server/app.py
  src/scope/server/graph_schema.py
  src/scope/server/schema.py
  tests/test_pipeline_registry.py
Due: prettier, eslint

fix: keep pipelines visible when schema build fails
  frontend/src/components/graph/utils/connectionValidation.ts
  src/scope/core/pipelines/interface.py
  src/scope/server/app.py
  tests/test_pipeline_registry.py
Due: prettier, eslint

fix: proxy node definitions in cloud mode; harden modal fetch
  frontend/src/components/graph/AddNodeModal.tsx
  src/scope/server/app.py
Due: prettier, eslint

fix: namespace custom node handle IDs; clarify cache docstring
  frontend/src/components/graph/nodes/CustomNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/graphUtils.ts
  src/scope/server/app.py
Due: prettier, eslint

feat: unified node abstraction with custom node catalog (#906)
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/nodes/CustomNode.tsx
  frontend/src/components/graph/utils/connectionValidation.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  src/scope/core/nodes/__init__.py
  src/scope/core/nodes/base.py
  src/scope/core/nodes/registry.py
  src/scope/core/pipelines/interface.py
  src/scope/core/pipelines/registry.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  src/scope/server/app.py
  src/scope/server/graph_schema.py
  src/scope/server/schema.py
  tests/test_pipeline_registry.py
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
