Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Rely on backend for all pipeline metadata and add conditional render for prompts box
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/schema.py
Due: prettier, eslint

Add plugins module
  pyproject.toml
  src/scope/core/__init__.py
  src/scope/core/pipelines/registry.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  uv.lock
Due: none

PipelineRegistry on server startup
  src/scope/server/app.py
Due: none

Support loading plugin pipelines in PipelineManager
  src/scope/server/pipeline_manager.py
Due: none

Add install, uninstall (plugins) cmd in CLI
  src/scope/server/app.py
Due: none

Add plugins, pipelines CLI cmd with click
  pyproject.toml
  src/scope/core/plugins/__init__.py
  src/scope/server/app.py
  uv.lock
Due: none

Rely on server for pipeline list in frontend
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Improve Log Viewer
  app/build/linux/after-install.sh
  app/build/win/installer.nsh
  app/src/components/LogViewer.html
  app/src/components/LogViewer.js
  app/src/services/electronApp.ts
  app/src/services/pythonProcess.ts
  app/src/utils/logger.ts
Due: none

Remove signing during npm run dist:win
  app/electron-builder.yml
  app/package-lock.json
  app/package.json
Due: none

Fix Code Signing and Auto Updater
  .github/workflows/build-electron.yml
  app/build/update-latest-yml.js
  app/electron-builder.yml
  app/package.json
  app/src/main.ts
Due: none

Update version to 0.1.0-rc1
  app/package-lock.json
  app/package.json
Due: none

Electron App: Update after code review
  .github/workflows/build-electron.yml
  app/assets/icon.ico
  app/assets/icon.png
  app/assets/tray-icon.png
  app/electron-builder.yml
  app/package.json
  app/src/components/styles.ts
  app/src/services/autoUpdater.ts
  app/src/services/electronApp.ts
  src/scope/server/app.py
Due: none

Add uv download retries, make sure windows is max
  app/build/win/installer.nsh
  app/src/main.ts
  app/src/services/electronApp.ts
  app/src/services/setup.ts
Due: none

Build Docker image upon tag push
  .github/workflows/docker-build.yml
Due: none

PersonaLive TensorRT testing, developement and profiling.
  src/scope/core/pipelines/personalive/pipeline.py
  src/scope/core/pipelines/personalive/tensorrt/__init__.py
  src/scope/core/pipelines/personalive/tensorrt/convert.py
  src/scope/core/pipelines/personalive/tensorrt/engine_model.py
  src/scope/core/pipelines/personalive/tensorrt/export.py
  src/scope/core/pipelines/personalive/tensorrt/framed_model.py
  src/scope/core/pipelines/personalive/tensorrt/runner.py
  src/scope/core/pipelines/personalive/tensorrt/unet_explicit.py
Due: none

Update frontend icon
  frontend/public/icon.svg
Due: none

Electron App: Update LogViewer to read logs from ~/.daydream-scope/logs
  app/build/linux/after-install.sh
  app/build/win/installer.nsh
  app/src/services/pythonProcess.ts
  app/src/utils/logger.ts
Due: none

Use default pipeline only if it meets the hardware requirements
  frontend/src/hooks/useStreamState.ts
  src/scope/core/pipelines/registry.py
Due: prettier, eslint

streamdiffusion
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
  src/scope/core/pipelines/streamdiffusionv2/modules/causal_model.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/test_r2v.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/models/__init__.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
Due: none

cleanup tests
  VACE_INTEGRATION_OPTIONS.md
  frontend/public/assets/example.png
  src/scope/core/pipelines/longlive/CONDITIONING_GUIDANCE.md
  src/scope/core/pipelines/longlive/DEPTH_GUIDANCE.md
  src/scope/core/pipelines/longlive/VACE_IMPLEMENTATION.md
  src/scope/core/pipelines/longlive/generate_white_mask.py
  src/scope/core/pipelines/longlive/test_depth_guidance.py
  src/scope/core/pipelines/longlive/test_inpainting.py
  src/scope/core/pipelines/longlive/test_r2v.py
  src/scope/core/pipelines/longlive/test_r2v_depth_guidance.py
  src/scope/core/pipelines/longlive/test_r2v_inpainting.py
  src/scope/core/pipelines/longlive/test_vace.py
Due: none

autopipeline
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: none

Hide warnings from polygraphy in console, fix to accumulation leak.
  src/scope/core/pipelines/personalive/pipeline.py
  src/scope/core/pipelines/personalive/tensorrt/runner.py
Due: none

consolidate longlive
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/registry.py
  src/scope/core/pipelines/schema.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Bump to v0.1.0-alpha.9
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

streamdiffusion
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/test_r2v.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
Due: prettier, eslint

rm pipeline
  frontend/src/components/ImageManager.tsx
  src/scope/core/pipelines/longlive/pipeline_vace.py
Due: prettier, eslint

lazy load
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/server/pipeline_manager.py
Due: none

Better pipeline conditioning logic for ui.
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/personalive/__init__.py
  src/scope/core/pipelines/personalive/blocks/__init__.py
  src/scope/core/pipelines/personalive/components/face_detector.py
  src/scope/core/pipelines/personalive/docs/README.md
  src/scope/core/pipelines/personalive/tensorrt/builder.py
Due: prettier, eslint

Linting and formatting.
  frontend/src/components/SettingsPanel.tsx
  src/scope/core/pipelines/personalive/__init__.py
  src/scope/core/pipelines/personalive/blocks/__init__.py
  src/scope/core/pipelines/personalive/components/face_detector.py
  src/scope/core/pipelines/personalive/pipeline.py
  src/scope/core/pipelines/personalive/tensorrt/__init__.py
  src/scope/core/pipelines/personalive/tensorrt/builder.py
  src/scope/core/pipelines/personalive/tensorrt/convert.py
  src/scope/core/pipelines/personalive/tensorrt/engine_model.py
  src/scope/core/pipelines/personalive/tensorrt/framed_model.py
  src/scope/core/pipelines/personalive/tensorrt/runner.py
  src/scope/core/pipelines/personalive/tensorrt/unet_explicit.py
  src/scope/server/app.py
  src/scope/server/download_models.py
  src/scope/server/models_config.py
  src/scope/server/schema.py
Due: prettier, eslint

Electron App: Fix FPS/Bitrate not visible
  app/src/services/electronApp.ts
Due: none

Update package-lock.json
  app/package-lock.json
Due: none

Store HF Download logs into the log file
  src/scope/server/download_models.py
Due: none

Display download logs in the frontend
  frontend/src/components/VideoOutput.tsx
  frontend/src/lib/api.ts
  src/scope/server/app.py
  src/scope/server/download_models.py
Due: prettier, eslint

Improve log message when the model files are corrupted
  frontend/src/hooks/usePipeline.ts
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
