Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

Added compile mode selector to frontend.
  frontend/src/components/SettingsPanel.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
Due: prettier, eslint

Compile utilities server side with triton torch compiling.
  lib/pipeline_manager.py
  lib/schema.py
  pipelines/streamdiffusionv2/compile_utils.py
Due: none

Use diffusers for streamdiffusionv2
  pipelines/streamdiffusionv2/modular_blocks.py
  pipelines/streamdiffusionv2/modular_config.json
  pipelines/streamdiffusionv2/modular_pipeline_wrapper.py
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Remove fallback
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Update README for GPU and deployment instructions
  README.md
Due: none

Add info about CUDA version for H100
  README.md
Due: none

spike
  pipelines/longlive/adapters.py
  pipelines/longlive/interfaces.py
  pipelines/longlive/modular_blocks.py
  pipelines/longlive/modular_pipeline_wrapper.py
Due: none

Updates docs link to scope tutorial page
  frontend/src/components/Header.tsx
Due: prettier, eslint

Run pytest in GH actions
  .github/workflows/test.yml
Due: none

Add logs_config with tests
  lib/logs_config.py
  pyproject.toml
  tests/__init__.py
  tests/test_logs_config.py
  uv.lock
Due: none

Update Dockerfile logs location
  Dockerfile
Due: none

Add Report Bug button in UI
  app.py
  frontend/src/components/Header.tsx
  frontend/src/components/ReportBugDialog.tsx
  frontend/src/lib/api.ts
Due: prettier, eslint

Add Server Tests section to contributing
  docs/contributing.md
Due: none

Update .gitignore
  .gitignore
Due: none

Project Url -> Docs Url in pipeline card
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/pipelines.ts
Due: prettier, eslint

Align UI style for temporal controls in append vs editing mode
  frontend/src/components/TimelinePromptEditor.tsx
Due: prettier, eslint

WIP
  pipelines/base/blocks/before_denoise.py
  pipelines/base/blocks/text_encoder.py
  pipelines/longlive/test.py
Due: none

Fix version in frontend + server
  docs/contributing.md
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Refactor
  pipelines/streamdiffusionv2/modular_blocks.py
  pipelines/streamdiffusionv2/modular_pipeline_wrapper.py
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Optimize Modular Diffusers pipeline
  pipelines/streamdiffusionv2/modular_blocks.py
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Keep separate modules in separate files
  pipelines/streamdiffusionv2/decoders.py
  pipelines/streamdiffusionv2/denoise.py
  pipelines/streamdiffusionv2/encoders.py
  pipelines/streamdiffusionv2/modular_blocks.py
  pipelines/streamdiffusionv2/preprocess.py
Due: none

Use ComponentsManager
  pipelines/streamdiffusionv2/components_loader.py
  pipelines/streamdiffusionv2/modular_pipeline_wrapper.py
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Do not reload pipeline if only params have changed
  lib/pipeline_manager.py
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Remove compoments_loader.py
  pipelines/streamdiffusionv2/components_loader.py
  pipelines/streamdiffusionv2/pipeline.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update to dependency, removed redudant group.
  pyproject.toml
  uv.lock
Due: none

feat: Add triton dependency for platform-specific support (#98)
  pyproject.toml
Due: none
