Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

Modulation engine and pipeline.
  docs/tempo-sync-review.md
  frontend/src/components/SettingsPanel.tsx
  frontend/src/components/settings/ModulationSection.tsx
  frontend/src/components/settings/TempoSyncSection.tsx
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/mod_scope/__init__.py
  src/scope/core/pipelines/mod_scope/pipeline.py
  src/scope/core/pipelines/mod_scope/schema.py
  src/scope/core/pipelines/registry.py
  src/scope/server/frame_processor.py
  src/scope/server/modulation.py
  src/scope/server/pipeline_processor.py
Due: prettier, eslint

test: add E2E test for WebRTC reconnection
  e2e/tests/webrtc-reconnect.spec.ts
  src/scope/server/app.py
Due: none

fix: handle 'closed' state in WebRTC reconnection logic
  src/scope/server/cloud_webrtc_client.py
Due: none

Don't maintain local cache of Cloud state
  frontend/src/hooks/useApi.ts
  frontend/src/lib/api.ts
  frontend/src/lib/cloudAdapter.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/utils/loraHelpers.ts
  src/scope/core/pipelines/wan2_1/lora/manager.py
  src/scope/core/pipelines/wan2_1/lora/strategies/module_targeted_lora.py
  src/scope/core/pipelines/wan2_1/lora/strategies/peft_lora.py
  src/scope/core/pipelines/wan2_1/lora/strategies/permanent_merge_lora.py
  src/scope/server/app.py
  src/scope/server/osc_docs.py
  src/scope/server/osc_server.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
Due: prettier, eslint

Cache pipeline schemas and plugin list responses
  src/scope/server/app.py
Due: none

Handle WebRTC bootstrap
  src/scope/server/app.py
  src/scope/server/osc_docs.py
  src/scope/server/pipeline_manager.py
Due: none

vace node & image node
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/ContextMenu.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/useConnectionLogic.ts
  frontend/src/components/graph/hooks/useGraphState.ts
  frontend/src/components/graph/hooks/useNodeFactories.ts
  frontend/src/components/graph/hooks/useValueForwarding.ts
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/VaceNode.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/NodePillTextarea.tsx
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Add native Workflow export to daydream.live (#636)
  frontend/src/components/ExportDialog.tsx
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/lib/daydreamExport.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Use daydream API to check if plugin is allowed
  src/scope/cloud/fal_app.py
Due: none

Close WebRTC session when cloud WebSocket disconnects (#638)
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
Due: none

Fix test: clear plugin/schema caches between tests
  tests/test_plugin_api.py
Due: none

Cache pipeline schemas and plugin list responses (#645)
  src/scope/server/app.py
  tests/test_plugin_api.py
Due: none

chore: bump version to 0.1.7
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

address review comment, return 503 on daydream API error
  src/scope/cloud/fal_app.py
Due: none

ci: speed up PR deploys by decoupling from standard image build
  .github/workflows/docker-build-image.yml
  .github/workflows/docker-build.yml
Due: none

fix: set permissions at workflow level for reusable workflow
  .github/workflows/docker-build-image.yml
  .github/workflows/docker-build.yml
Due: none

refactor
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/typeResolution.ts
  frontend/src/components/graph/hooks/useConnectionLogic.ts
  frontend/src/components/graph/hooks/useGraphPersistence.ts
  frontend/src/components/graph/hooks/useGraphState.ts
  frontend/src/components/graph/hooks/useHandlePositions.ts
  frontend/src/components/graph/hooks/useNodeData.ts
  frontend/src/components/graph/hooks/useNodeFactories.ts
  frontend/src/components/graph/hooks/usePipelineParams.ts
  frontend/src/components/graph/hooks/useRerouteTypeSync.ts
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/KnobsNode.tsx
  frontend/src/components/graph/nodes/MathNode.tsx
  frontend/src/components/graph/nodes/NoteNode.tsx
  frontend/src/components/graph/nodes/OutputNode.tsx
  frontend/src/components/graph/nodes/PipelineNode.tsx
  frontend/src/components/graph/nodes/PrimitiveNode.tsx
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/nodes/SliderNode.tsx
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/nodes/TupleNode.tsx
  frontend/src/components/graph/nodes/VaceNode.tsx
  frontend/src/components/graph/nodes/XYPadNode.tsx
Due: prettier, eslint

Restore workflow on cloud reconnection
  frontend/src/hooks/useCloudWorkflowBackup.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

preserve comments
  .github/workflows/docker-build-image.yml
Due: none

ci: speed up PR deploys by decoupling from standard image build (#649)
  .github/workflows/docker-build-image.yml
  .github/workflows/docker-build.yml
Due: none

feat: Add debug logging toggle via CLI flag and UI button
  frontend/src/components/LogPanel.tsx
  src/scope/server/app.py
Due: prettier, eslint

prefix logs with connection ID
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
  src/scope/server/logs_config.py
Due: none

fix: address CodeRabbit review feedback
  .github/workflows/docker-build.yml
  e2e/tests/webrtc-reconnect.spec.ts
  src/scope/server/app.py
  src/scope/server/cloud_connection.py
Due: none

style: format cloud_connection.py
  src/scope/server/cloud_connection.py
Due: none

fix: address remaining CodeRabbit feedback
  .github/workflows/docker-build.yml
  e2e/tests/webrtc-reconnect.spec.ts
  src/scope/server/cloud_connection.py
Due: none

vace video input & QoL
  frontend/src/components/MediaPicker.tsx
  frontend/src/components/graph/ContextMenu.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/typeResolution.ts
  frontend/src/components/graph/hooks/useConnectionLogic.ts
  frontend/src/components/graph/hooks/useIsZoomedOut.ts
  frontend/src/components/graph/hooks/useNodeFactories.ts
  frontend/src/components/graph/hooks/useNodeFlags.ts
  frontend/src/components/graph/hooks/useValueForwarding.ts
  frontend/src/components/graph/nodes/ImageNode.tsx
  frontend/src/components/graph/nodes/VaceNode.tsx
  frontend/src/components/graph/ui/NodeBody.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/components/graph/ui/NodeHeader.tsx
  frontend/src/components/graph/ui/NodePillToggle.tsx
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

feat: improve cloud button discoverability and header icon visibility
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/components/Header.tsx
Due: prettier, eslint

fix: kill entire process group on quit to prevent stale server processes
  .gitignore
  app/src/services/pythonProcess.ts
Due: none

Remove unused stream_inputs/stream_outputs compat shim
  src/scope/core/pipelines/base_schema.py
Due: none

Add graph inputs/outputs to VACE pipeline schemas
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
Due: none

midi node & bool node
  frontend/src/components/graph/AddNodeModal.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/constants.ts
  frontend/src/components/graph/hooks/typeResolution.ts
  frontend/src/components/graph/hooks/useConnectionLogic.ts
  frontend/src/components/graph/hooks/useKeyboardShortcuts.ts
  frontend/src/components/graph/hooks/useNodeData.ts
  frontend/src/components/graph/hooks/useNodeFactories.ts
  frontend/src/components/graph/hooks/useValueForwarding.ts
  frontend/src/components/graph/nodes/BoolNode.tsx
  frontend/src/components/graph/nodes/ControlNode.tsx
  frontend/src/components/graph/nodes/MathNode.tsx
  frontend/src/components/graph/nodes/MidiNode.tsx
  frontend/src/components/graph/nodes/PrimitiveNode.tsx
  frontend/src/components/graph/ui/NodeCard.tsx
  frontend/src/lib/graphUtils.ts
Due: prettier, eslint

Fix displaying new loading text
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Add MCP server for AI-assisted pipeline control
  .mcp.json
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  pyproject.toml
  src/scope/server/app.py
  src/scope/server/mcp_server.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
  uv.lock
Due: prettier, eslint

Remove local filesize limits
  frontend/src/components/MediaPicker.tsx
  frontend/src/hooks/useVideoSource.ts
  src/scope/server/app.py
Due: prettier, eslint

Change default server port from 8000 to 52111
  .github/workflows/docker-build.yml
  CLAUDE.md
  app/src/main.ts
  docs/api/load.md
  docs/api/parameters.md
  docs/api/receive.md
  docs/api/sendreceive.md
  docs/api/vace.md
  docs/contributing.md
  docs/server.md
  e2e/playwright.config.ts
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/lib/auth.ts
  frontend/vite.config.ts
  src/scope/cloud/fal_app.py
  src/scope/server/app.py
  src/scope/server/mcp_server.py
Due: prettier, eslint

fix: handle restore properly, resolving plugins etc
  frontend/src/hooks/useCloudWorkflowBackup.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Make Settings dialog box size match Plugins
  frontend/src/components/SettingsDialog.tsx
Due: prettier, eslint

Revert logging changes
  app/src/services/pythonProcess.ts
  src/scope/server/app.py
  src/scope/server/dmx_paths.py
  src/scope/server/dmx_server.py
Due: none

DMX input
  app/src/services/pythonProcess.ts
  frontend/src/components/SettingsDialog.tsx
  frontend/src/components/settings/DmxTab.tsx
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/dmx_config.py
  src/scope/server/dmx_docs.py
  src/scope/server/dmx_server.py
Due: prettier, eslint

Code review fixes
  frontend/src/components/settings/DmxTab.tsx
  src/scope/server/app.py
  src/scope/server/dmx_config.py
  src/scope/server/dmx_server.py
Due: prettier, eslint

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
