Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: bash -c 'cd frontend && npm run format'
  language: system
  pass_filenames: false

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npm run lint:fix'
  language: system
  pass_filenames: false

es lint midi fixes
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/types/webmidi.d.ts
Due: prettier, eslint

chore: bump version to 0.1.5
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Dont show previous connection errors and verify userID against API
  frontend/src/components/Header.tsx
  src/scope/cloud/fal_app.py
Due: prettier, eslint

fix: capture WebSocket error messages before close (#552)
  frontend/src/components/Header.tsx
  src/scope/cloud/fal_app.py
  src/scope/server/cloud_connection.py
Due: prettier, eslint

front end export refactor - fixes
  src/scope/core/workflows/export.py
  src/scope/core/workflows/schema.py
  src/scope/server/app.py
  tests/test_workflow_schema.py
Due: none

Remove mac x64 build
  .github/workflows/build-electron.yml
  app/build/update-latest-yml.js
Due: none

Fix resolve: stop warning on unknown params (frontend runtime params)
  src/scope/core/workflows/resolve.py
Due: none

Add workflow import with dependency resolution and apply API
  src/scope/core/workflows/__init__.py
  src/scope/core/workflows/apply.py
  src/scope/core/workflows/resolve.py
  src/scope/server/app.py
  tests/test_workflow_apply.py
  tests/test_workflow_resolve.py
  tests/workflow_helpers.py
Due: none

Use shared plugin helper in resolve, move SHA256 check to apply
  src/scope/core/workflows/apply.py
  src/scope/core/workflows/resolve.py
Due: none

Deduplicate test helpers, fix settings validation test
  tests/test_workflow_resolve.py
  tests/test_workflow_schema.py
  tests/workflow_helpers.py
Due: none

midi ui formatting
  frontend/src/components/ComplexFields.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/MIDIMappable.tsx
  frontend/src/components/MIDIMappingsModal.tsx
  frontend/src/components/PromptSlots.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/contexts/MIDIContext.tsx
  frontend/src/hooks/useMIDIController.ts
  frontend/src/lib/midiMapping.ts
  frontend/src/lib/presets.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/midi.ts
Due: prettier, eslint

naming fix
  src/scope/core/workflows/apply.py
Due: none

import fix in test
  tests/test_workflow_schema.py
Due: none

update test cases
  tests/test_workflow_apply.py
  tests/test_workflow_resolve.py
Due: none

def in app and fixes
  src/scope/core/workflows/apply.py
  src/scope/core/workflows/resolve.py
  src/scope/server/app.py
Due: none

Add workflow import with dependency resolution and apply API
  src/scope/server/app.py
Due: none

Deduplicate test helpers, fix settings validation test
  tests/test_workflow_schema.py
Due: none

UI tweaks
  .github/workflows/fal-deploy.yml
  frontend/src/components/Header.tsx
  frontend/src/components/PluginsDialog.tsx
  frontend/src/components/settings/DiscoverTab.tsx
  frontend/src/components/settings/PluginsTab.tsx
  src/scope/cloud/fal_app.py
Due: prettier, eslint

Add timeline, format migration, and min_scope_version to workflow schema
  src/scope/core/workflows/__init__.py
  src/scope/core/workflows/export.py
  src/scope/core/workflows/migrate.py
  src/scope/core/workflows/resolve.py
  src/scope/core/workflows/schema.py
  src/scope/server/app.py
  tests/test_workflow_migrate.py
  tests/test_workflow_schema.py
  tests/test_workflow_timeline.py
Due: none

wip
  .vscode/settings.json
  frontend/package-lock.json
  frontend/src/components/ExportDialog.tsx
  frontend/src/components/PromptInputWithTimeline.tsx
  frontend/src/components/PromptTimeline.tsx
  frontend/src/components/WorkflowExportDialog.tsx
  frontend/src/components/WorkflowImportDialog.tsx
  frontend/src/lib/workflowApi.ts
  frontend/src/lib/workflowSettings.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

dump
  benchmark_test.py
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/longlive/modules/model.py
  src/scope/core/pipelines/longlive/test.py
  src/scope/core/pipelines/wan2_1/blocks/setup_caches.py
  src/scope/core/pipelines/wan2_1/components/generator.py
Due: none

feat: migrate /ws endpoint from raw websocket to @fal.realtime
  src/scope/cloud/fal_app.py
Due: none

feat: auto-deploy PRs to fal and run E2E tests
  .github/workflows/e2e-test.yml
  .github/workflows/fal-pr-deploy.yml
  e2e/.gitignore
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/auth.setup.ts
  e2e/tests/cloud-streaming.spec.ts
Due: none

fix: Float8Tensor as_strided workaround
  src/scope/core/pipelines/wan2_1/utils.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
Due: none

fix: handle zero-token KV cache edge case
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
Due: none

fix: persist input mode settings when pipeline switched
  frontend/src/hooks/useStreamState.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Always save screenshots
  .github/workflows/e2e-test.yml
  e2e/playwright.config.ts
Due: none

Support daydream auth via api key
  frontend/src/App.tsx
  frontend/src/lib/auth.ts
Due: prettier, eslint

refactor: simplify E2E tests to use API key auth
  .github/workflows/e2e-test.yml
  e2e/playwright.config.ts
  e2e/tests/auth.setup.ts
  e2e/tests/cloud-streaming.spec.ts
Due: none

Add SDv2 benchmark script for issue #559 investigation
  scripts/benchmark_scope_sdv2.py
  sdv2-benchmark-results.md
Due: none

Fix tests
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/ui/play-overlay.tsx
Due: prettier, eslint

add lock file
  e2e/package-lock.json
Due: none

feat: auto-deploy PRs to fal and run E2E tests (#558)
  .github/workflows/e2e-test.yml
  .github/workflows/fal-pr-deploy.yml
  e2e/.gitignore
  e2e/README.md
  e2e/package-lock.json
  e2e/package.json
  e2e/playwright.config.ts
  e2e/tests/cloud-streaming.spec.ts
  frontend/src/App.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/settings/DaydreamAccountSection.tsx
  frontend/src/components/ui/play-overlay.tsx
  frontend/src/lib/auth.ts
Due: prettier, eslint

fix: portable
  scripts/benchmark_scope_sdv2.py
Due: none

Fix CivitAI download: allow public models without token, resolve filenames via API
  src/scope/server/app.py
  src/scope/server/download_models.py
  src/scope/server/lora_downloader.py
Due: none

Extract shared CivitAI metadata resolver, fix filename_from_url test
  src/scope/server/app.py
  src/scope/server/lora_downloader.py
  tests/test_lora_downloader.py
Due: none

Add LoRA manifest tracking and multi-source downloader
  scripts/test_lora_download.py
  src/scope/core/lora/__init__.py
  src/scope/core/lora/manifest.py
  src/scope/server/app.py
  src/scope/server/lora_downloader.py
  tests/test_lora_downloader.py
  tests/test_lora_manifest.py
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
