Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

refac
  src/scope/core/pipelines/longlive/CONDITIONING_GUIDANCE.md
  src/scope/core/pipelines/longlive/DEPTH_GUIDANCE.md
  src/scope/core/pipelines/longlive/blocks/vace_encoding.py
  src/scope/core/pipelines/longlive/modules/causal_vace_model.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_depth_guidance.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/server/frame_processor.py
Due: none

sed ref image
  frontend/src/components/ImageManager.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/longlive/blocks/vace_encoding.py
  src/scope/core/pipelines/longlive/modules/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
Due: prettier, eslint

masks
  src/scope/core/pipelines/longlive/CONDITIONING_GUIDANCE.md
  src/scope/core/pipelines/longlive/DEPTH_GUIDANCE.md
  src/scope/core/pipelines/longlive/blocks/vace_encoding.py
  src/scope/core/pipelines/longlive/modules/causal_vace_model.py
  src/scope/core/pipelines/longlive/test_depth_guidance.py
  src/scope/core/pipelines/longlive/test_inpainting.py
  src/scope/core/pipelines/longlive/vace_utils.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
Due: none

Add temp improvement to V2V with RewardForcing
  src/scope/core/pipelines/reward_forcing/blocks/__init__.py
  src/scope/core/pipelines/reward_forcing/blocks/prepare_next.py
  src/scope/core/pipelines/reward_forcing/modular_blocks.py
Due: none

Update README
  README.md
Due: none

feat: Add VibeVoice text-to-speech pipeline
  frontend/src/components/AudioOutput.tsx
  frontend/src/data/pipelines.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/registry.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/vibevoice/__init__.py
  src/scope/core/pipelines/vibevoice/output.wav
  src/scope/core/pipelines/vibevoice/pipeline.py
  src/scope/server/audio_processor.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: prettier, eslint

Add VibeVoice audio pipeline support
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/useWebRTC.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/registry.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/vibevoice/__init__.py
  src/scope/core/pipelines/vibevoice/pipeline.py
  src/scope/server/pipeline_manager.py
  src/scope/server/schema.py
  src/scope/server/tracks.py
  src/scope/server/webrtc.py
Due: prettier, eslint

Fix vibevoice callback typing
  src/scope/core/pipelines/vibevoice/__init__.py
  src/scope/core/pipelines/vibevoice/pipeline.py
  src/scope/server/tracks.py
Due: none

Fix audio frame shape for vibevoice track
  src/scope/server/tracks.py
Due: none

fix: Add vibevoice to pipeline_manager and exports
  frontend/package-lock.json
  frontend/src/components/AudioOutput.tsx
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/vibevoice/__init__.py
  src/scope/core/pipelines/vibevoice/pipeline.py
  src/scope/server/audio_processor.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

fix: Use audio transceiver for audio pipelines in WebRTC
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Implement real VibeVoice pipeline with model integration
  src/scope/core/pipelines/vibevoice/pipeline.py
  test_vibevoice.py
Due: none

Add convenience script for running VibeVoice tests with uv
  run_vibevoice_test.sh
Due: none

Fix VibeVoice pipeline for transformers 4.57.1 compatibility
  pyproject.toml
  src/scope/core/pipelines/vibevoice/pipeline.py
  test_vibevoice.py
  uv.lock
Due: none

Add sample VibeVoice TTS output for testing
  test_outputs/output.wav
Due: none

Use VibeVoice from GitHub instead of local installation
  pyproject.toml
  run_vibevoice_test.sh
  src/scope/core/pipelines/vibevoice/pipeline.py
  uv.lock
Due: none

wip
  src/scope/core/pipelines/longlive/blocks/vace_encoding.py
  src/scope/core/pipelines/longlive/test_depth_guidance.py
  src/scope/core/pipelines/longlive/test_inpainting.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/longlive/vace_utils.py
Due: none

Update prompt change
  src/scope/core/pipelines/vibevoice/pipeline.py
  src/scope/server/pipeline_manager.py
  src/scope/server/tracks.py
  test_outputs/output.wav
Due: none

move scripts r2v inpaint
  src/scope/core/pipelines/longlive/blocks/vace_encoding.py
  src/scope/core/pipelines/longlive/test_r2v.py
  src/scope/core/pipelines/longlive/test_r2v_inpainting.py
Due: none

Working
  src/scope/core/pipelines/vibevoice/pipeline.py
  src/scope/server/tracks.py
Due: none

extend masks
  src/scope/core/pipelines/longlive/test_inpainting.py
Due: none

Fix UI
  frontend/src/components/VideoOutput.tsx
Due: prettier, eslint

Remove unused test files
  run_vibevoice_test.sh
  test_outputs/output.wav
  test_vibevoice.py
Due: none

runtime updates, combo scripts
  frontend/src/components/ImageManager.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/useWebRTC.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/longlive/generate_white_mask.py
  src/scope/core/pipelines/longlive/test_r2v.py
  src/scope/core/pipelines/longlive/test_r2v_depth_guidance.py
Due: prettier, eslint

rm print
  src/scope/core/pipelines/longlive/modules/causal_vace_model.py
  src/scope/core/pipelines/longlive/test_depth_guidance.py
  src/scope/core/pipelines/longlive/vace_utils.py
Due: none

Fix mode switch from text to video
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/server/frame_processor.py
Due: none

Add Spout docs
  README.md
  docs/spout.md
Due: none

Bump to v0.1.0a8
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

full integration brainstorm
  VACE_INTEGRATION_OPTIONS.md
Due: none

refactor
  VACE_INTEGRATION_OPTIONS.md
  src/scope/core/pipelines/longlive/QUICK_START_STRATIFIED.md
  src/scope/core/pipelines/longlive/blocks/__init__.py
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/wan2_1/vace/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/__init__.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/models/__init__.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/__init__.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

Electron App: Update after code review
  .github/workflows/build-electron.yml
  app/assets/icon.ico
  app/assets/icon.png
  app/assets/tray-icon.png
  app/electron-builder.yml
  app/package.json
  app/src/components/styles.ts
  app/src/services/autoUpdater.ts
  app/src/services/electronApp.ts
  src/scope/server/app.py
Due: none

Update version to 0.1.0-rc1
  app/package-lock.json
  app/package.json
Due: none

Build Docker image upon tag push
  .github/workflows/docker-build.yml
Due: none

TRT support for personalive.
  pyproject.toml
  src/scope/core/pipelines/personalive/model.yaml
  src/scope/core/pipelines/personalive/pipeline.py
  src/scope/core/pipelines/personalive/tensorrt/__init__.py
  src/scope/core/pipelines/personalive/tensorrt/builder.py
  src/scope/core/pipelines/personalive/tensorrt/convert.py
  src/scope/core/pipelines/personalive/tensorrt/export.py
  src/scope/core/pipelines/personalive/tensorrt/framed_model.py
  src/scope/core/pipelines/personalive/tensorrt/runner.py
  uv.lock
Due: none

composition
  src/scope/core/pipelines/longlive/QUICK_START_STRATIFIED.md
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_r2v.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
Due: none

Incl plugin pipelines when listing from server
  src/scope/server/app.py
Due: none
