Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: signoff
        name: Add Signed-off-by
        entry: "bash -c 'git interpret-trailers --if-exists doNothing --trailer \"Signed-off-by: $(git config user.name) <$(git config user.email)>\" --in-place \"$1\"' --"
        language: system
        stages: [prepare-commit-msg]

feat: add credit code redemption UI in billing settings
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/lib/billing.ts
Due: prettier, eslint

fix: exclude @types/node from frontend tsconfig to fix Timeout type errors
  frontend/tsconfig.app.json
Due: prettier

feat: add JWT-based inference token gating
  frontend/src/App.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/lib/billing.ts
  frontend/src/lib/cloudContext.tsx
  src/scope/cloud/fal_app.py
Due: prettier, eslint

feat: add usage dashboard link + handle configurable credit rates
  frontend/src/components/settings/BillingTab.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/lib/billing.ts
Due: prettier, eslint

feat: auto-apply credit rate by GPU type and improve billing UX
  frontend/src/components/Header.tsx
  frontend/src/components/VideoOutput.tsx
  frontend/src/components/ui/play-overlay.tsx
  frontend/src/contexts/BillingContext.tsx
  frontend/src/hooks/useCloudStatus.tsx
  src/scope/cloud/fal_app.py
  src/scope/server/cloud_connection.py
Due: prettier, eslint

feat: add billing support to Livepeer cloud mode
  src/scope/cloud/livepeer_app.py
  src/scope/cloud/livepeer_fal_app.py
Due: none

Add headless MPEG-TS streaming endpoint
  .agents/skills/testing-scope-mcp/SKILL.md
  CLAUDE.md
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
Due: none

ci: add PR guard for fal app updates (#849)
  .github/workflows/docker-build.yml
  .github/workflows/fal-app-change-guard.yml
Due: none

Add headless MPEG-TS streaming endpoint (#851)
  .agents/skills/testing-scope-mcp/SKILL.md
  CLAUDE.md
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
Due: none

Fix cleanup
  src/scope/server/source_manager.py
Due: none

Fix headless MPEG-TS timestamps to use encoder-managed PTS
  src/scope/server/headless.py
Due: none

Fix headless MPEG-TS timestamps to use encoder-managed PTS
  src/scope/server/headless.py
  src/scope/server/source_manager.py
Due: none

fix: register cloud output callbacks after connect() to prevent loss
  src/scope/server/cloud_connection.py
Due: none

feat: support multiple WebRTC input/output tracks in Cloud (#799)
  src/scope/server/cloud_connection.py
  src/scope/server/cloud_track.py
  src/scope/server/cloud_webrtc_client.py
Due: none

feat: add frontend multi-source/sink support and tests
  frontend/src/components/StatusBar.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: sync graph mode source changes to WebRTC track mid-stream
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: refresh workflow builder pipelines after cloud connect
  frontend/src/contexts/PipelinesContext.tsx
  src/scope/server/app.py
Due: prettier, eslint

feat(frontend): multi-source/sink WebRTC, graph editor, and headless tests (#800)
  frontend/src/components/StatusBar.tsx
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphPersistence.ts
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/hooks/node/useNodeFactories.ts
  frontend/src/components/graph/hooks/value/useOutputSinkSync.ts
  frontend/src/components/graph/nodes/SinkNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useApi.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/hooks/useWebRTCStats.ts
  frontend/src/lib/api.ts
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: refresh workflow builder pipelines after cloud connect (#853)
  frontend/src/contexts/PipelinesContext.tsx
  src/scope/server/app.py
Due: prettier, eslint

feat: add MCP server multi-source/sink and cloud graph mode support
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
Due: none

docs: update CLAUDE.md with multi-source/sink cloud architecture details
  CLAUDE.md
Due: none

Fix headless MPEG-TS timestamps to use encoder-managed PTS (#852)
  src/scope/server/headless.py
  src/scope/server/source_manager.py
Due: none

fix: correct attribute paths and validation in _wire_cloud_outputs
  src/scope/server/mcp_router.py
Due: none

feat: add MCP server multi-source/sink and cloud graph mode support (#809)
  CLAUDE.md
  src/scope/server/mcp_router.py
  src/scope/server/mcp_server.py
Due: none

fix(cloud): route all source tracks (including Syphon/NDI/Spout) on cloud
  src/scope/server/cloud_relay.py
  src/scope/server/frame_processor.py
  src/scope/server/webrtc.py
Due: none

fix(cloud): relay Syphon/graph sources when input_mode is omitted
  src/scope/server/cloud_relay.py
  src/scope/server/frame_processor.py
Due: none

fix: restore alias_pipeline guard for graph node instances
  src/scope/server/pipeline_manager.py
Due: none

fix(graph): per-node recording and WebRTC outputs for record nodes
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/webrtc.py
Due: prettier, eslint

fix: per-sink frame routing, recording download, and CLAUDE.md restructure
  CLAUDE.md
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/webrtc.py
Due: none

fix(frontend): clear stray WebRTC video when graph uses server-side sources
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Update
  src/scope/server/cloud_relay.py
Due: none

Update
  src/scope/server/frame_processor.py
Due: none

Fix
  src/scope/server/webrtc.py
Due: none

Fix lint
  src/scope/server/sink_manager.py
Due: none

Fix lint
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: multi-sink routing, cloud hardware-source relay, and per-node recording (#854)
  CLAUDE.md
  frontend/src/lib/graphUtils.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/server/app.py
  src/scope/server/cloud_relay.py
  src/scope/server/frame_processor.py
  src/scope/server/headless.py
  src/scope/server/mcp_router.py
  src/scope/server/pipeline_manager.py
  src/scope/server/recording_coordinator.py
  src/scope/server/sink_manager.py
  src/scope/server/webrtc.py
Due: prettier, eslint

fix: per-node video file sources and multi-source WebRTC track routing
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: clean up video elements and avoid redundant WebRTC track updates
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: allow source mode switching from Camera to File during streaming
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

fix: per-node video file sources and multi-source WebRTC track routing (#855)
  frontend/src/components/graph/GraphEditor.tsx
  frontend/src/components/graph/hooks/graph/useGraphState.ts
  frontend/src/components/graph/nodes/SourceNode.tsx
  frontend/src/components/graph/utils/nodeEnrichment.ts
  frontend/src/hooks/useUnifiedWebRTC.ts
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint
