Repository daydreamlive/scope: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: '^\.vscode/'
      - id: check-toml

  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix]
        exclude: "(vendor/|/vendor/)"
      - id: ruff-format
        exclude: "(vendor/|/vendor/)"

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && npm run format'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
        pass_filenames: false

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint:fix'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

Remove pipeline hardcoding from the frontend
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  src/scope/core/pipelines/schema.py
Due: prettier, eslint

feat: benchmark
  .gitignore
  README.md
  benchmark.py
  pyproject.toml
  src/scope/core/pipelines/krea_realtime_video/docs/usage.md
  src/scope/core/pipelines/longlive/docs/usage.md
  src/scope/core/pipelines/streamdiffusionv2/docs/usage.md
  uv.lock
Due: none

Add memflow pipeline
  src/scope/core/pipelines/longlive/blocks/recache_frames.py
  src/scope/core/pipelines/memflow/__init__.py
  src/scope/core/pipelines/memflow/blocks/__init__.py
  src/scope/core/pipelines/memflow/blocks/setup_memory_bank.py
  src/scope/core/pipelines/memflow/docs/usage.md
  src/scope/core/pipelines/memflow/model.yaml
  src/scope/core/pipelines/memflow/modular_blocks.py
  src/scope/core/pipelines/memflow/modules/__init__.py
  src/scope/core/pipelines/memflow/modules/causal_model.py
  src/scope/core/pipelines/memflow/modules/model.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/memflow/test.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/wan2_1/blocks/clean_kv_cache.py
  src/scope/core/pipelines/wan2_1/blocks/denoise.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/server/pipeline_artifacts.py
Due: none

Support example interactive prompts in test scripts
  src/scope/core/pipelines/krea_realtime_video/test.py
  src/scope/core/pipelines/longlive/test.py
  src/scope/core/pipelines/memflow/test.py
  src/scope/core/pipelines/reward_forcing/test.py
  src/scope/core/pipelines/utils.py
  src/scope/core/prompts/README.md
  src/scope/core/prompts/interactive_example.jsonl
Due: none

Add plugins support with pipeline management
  frontend/src/components/DownloadDialog.tsx
  frontend/src/components/InputAndControlsPanel.tsx
  frontend/src/components/SettingsPanel.tsx
  frontend/src/data/pipelines.ts
  frontend/src/hooks/usePipelines.ts
  frontend/src/hooks/useStreamState.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  frontend/src/types/index.ts
  pyproject.toml
  src/scope/core/__init__.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/passthrough/pipeline.py
  src/scope/core/pipelines/registry.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/plugins/__init__.py
  src/scope/core/plugins/hookspecs.py
  src/scope/core/plugins/manager.py
  src/scope/server/app.py
  src/scope/server/pipeline_manager.py
  uv.lock
Due: prettier, eslint

feat: Longlive VACE FFLF pipeline layer support
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/test_vace.py
  src/scope/core/pipelines/longlive/test_vace_extension_scale.py
  src/scope/core/pipelines/wan2_1/vace/blocks/vace_encoding.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/encoding.py
Due: none

feat: streamdiffusion + reward forcing VACE FFLF pipeline layer support
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
Due: none

Reorganize pipeline schemas
  frontend/src/hooks/useStreamState.ts
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/base_schema.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/passthrough/pipeline.py
  src/scope/core/pipelines/passthrough/schema.py
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/server/schema.py
Due: prettier, eslint

Switch schema.py to schema.yaml
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/interface.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/krea_realtime_video/schema.py
  src/scope/core/pipelines/krea_realtime_video/schema.yaml
  src/scope/core/pipelines/longlive/pipeline.py
  src/scope/core/pipelines/longlive/schema.py
  src/scope/core/pipelines/longlive/schema.yaml
  src/scope/core/pipelines/memflow/pipeline.py
  src/scope/core/pipelines/memflow/schema.yaml
  src/scope/core/pipelines/passthrough/pipeline.py
  src/scope/core/pipelines/passthrough/schema.py
  src/scope/core/pipelines/passthrough/schema.yaml
  src/scope/core/pipelines/reward_forcing/pipeline.py
  src/scope/core/pipelines/reward_forcing/schema.py
  src/scope/core/pipelines/reward_forcing/schema.yaml
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/schema_loader.py
  src/scope/core/pipelines/streamdiffusionv2/pipeline.py
  src/scope/core/pipelines/streamdiffusionv2/schema.py
  src/scope/core/pipelines/streamdiffusionv2/schema.yaml
  src/scope/server/schema.py
Due: none

Run AutoPreprocessVideoBlock step after SetupCache
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
  src/scope/core/pipelines/wan2_1/blocks/auto_prepare_latents.py
Due: none

Hide commands based on DAYDREAM_SCOPE_PREVIEW
  src/scope/server/app.py
Due: none

Always run PreprocessVideo after SetupCaches
  src/scope/core/pipelines/krea_realtime_video/modular_blocks.py
  src/scope/core/pipelines/longlive/modular_blocks.py
  src/scope/core/pipelines/memflow/modular_blocks.py
  src/scope/core/pipelines/reward_forcing/modular_blocks.py
  src/scope/core/pipelines/streamdiffusionv2/modular_blocks.py
Due: none

Add memflow pipeline to builtin pipelines
  src/scope/core/pipelines/__init__.py
  src/scope/core/pipelines/memflow/schema.py
  src/scope/core/pipelines/registry.py
  src/scope/server/pipeline_manager.py
Due: none

More flexible VACE wrapper handling of diff CausalWanModel impls
  src/scope/core/pipelines/longlive/modules/causal_model.py
  src/scope/core/pipelines/memflow/modules/causal_model.py
  src/scope/core/pipelines/wan2_1/components/generator.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/server/pipeline_manager.py
Due: none

Fix hardcoded 1560 frame_seqlen in memflow causal model
  src/scope/core/pipelines/memflow/modules/causal_model.py
Due: none

Lazy import CausalWanModel in memflow
  src/scope/core/pipelines/memflow/pipeline.py
Due: none

Addd memflow docs
  README.md
  docs/lora.md
  docs/server.md
  docs/vace.md
  src/scope/core/pipelines/memflow/docs/examples/timeline-memflow-beekeeper.json
  src/scope/core/pipelines/memflow/docs/examples/timeline-memflow-detective.json
  src/scope/core/pipelines/memflow/docs/usage.md
Due: none

Only use kv bank if populated in memflow
  src/scope/core/pipelines/memflow/modules/causal_model.py
Due: none

Bump to v0.1.0-beta.2
  app/package-lock.json
  app/package.json
  frontend/package-lock.json
  frontend/package.json
  pyproject.toml
  uv.lock
Due: prettier

Video File -> File under Video Sources
  frontend/src/components/InputAndControlsPanel.tsx
Due: prettier, eslint

VACE context testing.
  src/scope/core/pipelines/krea_realtime_video/blocks/recompute_kv_cache.py
  src/scope/core/pipelines/krea_realtime_video/modules/causal_model.py
Due: none

Modifications to VACE computation, testing on control video input.
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/krea_realtime_video/blocks/recompute_kv_cache.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/wan2_1/blocks/setup_caches.py
  src/scope/core/pipelines/wan2_1/utils.py
  src/scope/server/frame_processor.py
Due: prettier, eslint

Krea 14b VACE testing.
  .gitignore
  frontend/package-lock.json
  frontend/src/data/pipelines.ts
  frontend/src/lib/api.ts
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/krea_realtime_video/model.yaml
  src/scope/core/pipelines/krea_realtime_video/modular_blocks.py
  src/scope/core/pipelines/krea_realtime_video/modules/causal_model.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/schema.py
  src/scope/core/pipelines/wan2_1/components/text_encoder.py
  src/scope/core/pipelines/wan2_1/vace/models/attention_blocks.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
  src/scope/core/pipelines/wan2_1/vace/utils/weight_loader.py
  src/scope/server/pipeline_artifacts.py
  src/scope/server/pipeline_manager.py
Due: prettier, eslint

Small fix.
  frontend/src/pages/StreamPage.tsx
Due: prettier, eslint

Small fixes, linting.
  frontend/package-lock.json
  frontend/src/pages/StreamPage.tsx
  src/scope/core/pipelines/krea_realtime_video/blocks/recompute_kv_cache.py
  src/scope/core/pipelines/krea_realtime_video/pipeline.py
  src/scope/core/pipelines/wan2_1/blocks/setup_caches.py
  src/scope/core/pipelines/wan2_1/vace/models/causal_vace_model.py
Due: prettier, eslint
